.container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
    font-weight: lighter;
}

.calculatorBlock {
    border: 2px solid navy;
    border-radius: 20px;
    margin-top: 30px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageButtons {
    border: 2px solid navy;
    border-radius: 10px;
    box-shadow: none;

    padding: 10px;
    width: 7%;
    height: 12%;
    margin-top: 10px;
    margin-left: 10px;
}

.pageButtons:hover {
    background-color: #A187B2;
    border: 2px solid #A187B2;
    color: #fff;
    cursor: pointer;
}

.buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nextButtons {
    background-color: navy;
    color: #fff;

    margin: 10px;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
}

.nextButtons:hover {
    background-color: #A187B2;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.selected {
    background-color: navy;
    color: #fff;
}

.selectedCard {
    border: 3px solid navy;
    border-radius: 10px;
    box-shadow: none;
    margin: -3px;
}

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.card {
    height: 135px;
    width: 135px;
    max-height: 135px;
    max-width: 135px;
}

.card:hover {
    border: 3px solid navy;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    margin: -3px;
}

.cardImage {
    margin-top: 14px;
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px; 
    object-fit: contain;
}

.infoCard {
    max-width: 200px;
    max-height: 230px;
    margin: 15px;
}