/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Kanit, sans-serif;
}

/* Header Styling */
.app-header {
    box-shadow: 0 2px 6px 0 #0d1a2626;
    padding: 20px 50px 5px 50px;
    text-align: center;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerButtons,
.personalMenu {
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    display: inline-flex;
    cursor: pointer;
    width: auto;
    box-shadow: 0 0 5px hsl(0 0% 78%);
}

.personalMenu {
    border: none;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.headerHostButton,
.headerButtons {
    border: none;
    background: none;
    box-shadow: none;
    margin-right: 10px;
}

.personalMenuDropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.personalMenuDropdownContent {
    display: none;
}

.personalMenuDropdownContent.show {
    display: block;
}

.personalMenuDropdown .personalMenuDropdownContent {
    padding: 20px 25px;
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(100% + 5px);
    right: 0;
    border-radius: 10px;
}

.personalMenuDropdownContent button {
    padding: 8px 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.dropdownLoginButton {
    margin-top: 0;
    margin-bottom: 10px;
    background: var(--primary-color);
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.dropdownRegisterButton,
.dropdownLogoutButton {
    margin-top: 10px;
    background-color: var(--secondary-color);
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.dropdownLogoutButton {
    cursor: pointer;
    margin-top: 20px;
}

.personalMenuDropdown .personalMenuDropdownContent button:hover {
    opacity: 90%;
}

.headerButtons button {
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border-radius: 15px;
    overflow: hidden;
    border: 0.50px #49146A solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.headerButtons:hover {
    background: #3fb3663a;
    padding: 12px;
}

.personalMenu:hover {
    opacity: 90%;
}

.helloUsername {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .header-nav {
        flex-wrap: nowrap;
    }

    .App,
    .header-nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        background: white;
        width: 100%;
    }

    .logo {
        margin: 0 1vw 0 -4vw;
    }

    .headerRight {
        margin-left: 3vw;
    }

    .headerButtons.headerHostButton {
        margin-left: -15%;
        font-size: 13px;
    }

    .personalMenu {
        margin-left: -15%;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        padding-top: 2vh;
    }

    .header-nav,
    .headerRight {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .headerRight {
        width: 69%;
        margin-top: 20px;
    }

    .headerButtons,
    .personalMenu,
    .Search-bar {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
        justify-content: center;
        float: none;
    }

    .app-header {
        padding: 0;
    }

    .App,
    .header-nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        background: white;
        width: 100%;
    }

    .header-nav {
        width: auto;
    }

    .headerRight {
        display: none;
    }

    .bar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
    }

    .SearchBarContainer.inactive {
        display: none;
    }

    .Search-bar.inactive {
        display: none;
    }

    .Search-bar.active {
        display: block;
        overflow: hidden;
    }

    .SearchBarContainer.active {
        align-content: center;
        margin: 4vh 0 31vh 4vw;
    }
}

@media screen and (max-width: 480px) {

    .header-nav,
    .headerRight {
        flex-direction: column;
        align-items: center;
    }

    .headerButtons,
    .personalMenu {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .personalMenuDropdown .personalMenuDropdownContent {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}

@media screen and (max-width: 320px) {

    .header-nav,
    .headerRight {
        flex-direction: column;
        align-items: center;
    }

    .headerButtons,
    .personalMenu {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .personalMenuDropdown .personalMenuDropdownContent {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}

/* Footer Styling */
.main-footer {
    background-color: #f8f8f8;
}

.footer-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.footer-headers {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.footer-lists {
    list-style: none;
    padding: 0;
    overflow: visible;
    white-space: normal;
}

.footer-links {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
    margin-left: 10px;
}

.footer-links>a {
    text-decoration: none;
    margin-left: 3px;
}

.footer-copyright {
    background-color: var(--primary-color);
    flex-shrink: 0;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.footer-icons img {
    width: 2.3rem;
    height: auto;
    margin-left: 1.2rem;
    margin-bottom: 0.6rem;
    border-radius: 25%;
}

.footer-copyright-text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

.footer-section {
    display: inline-block;
    margin-right: 15px;
}

.footer-section-grid {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-select {
    display: inline-flex;
    padding: 5px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 0.5px solid var(--primary-color);
}

#appstorebadge,
#playstorebadge {
    margin-top: 20px;
}

.footer-column ul li {
    margin: 10px 0;
    color: var(--colors-font-interactive, #0A760F);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.footer-terms {
    margin: 10px auto;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-terms a {
    display: inline;
    margin-left: 20px;
    text-decoration-line: underline;
}

.borderline {
    border-right: 1px solid var(--primary-color);
    padding-right: 5%;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 830px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-section,
    .footer-endsection {
        margin: 0;
        border-top: 1px solid var(--primary-color);
        margin-bottom: 20px;
        width: 80%;
    }

    .footer-headers {
        margin-top: 10px;
    }

    .borderline {
        border-right: none;
        padding-right: 0px;
    }
}