.filter-button {
    display: none; 
    align-items: center;
    justify-content: center; 
    background-color: #ffffff;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 50%; 
    font-size: 16px;
    transition: background-color 0.3s;
    border: #bababa solid 1px;
    transform: translateY(1rem);
    width: 50px; 
    height: 50px; 
}

.filter-button svg {
    border: none;
    outline: none;
}

.filter-button:hover {
    border-color: #000;
}

.icon {
    color: black;
}

@media (max-width: 480px) {
    .filter-button {
        font-size: 14px;
        padding: 6px; 
        transform: translateY(0em);
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-left: 20px;
        width: 40px; 
        height: 40px; 
    }

    .filter-button svg {
        width: 20px; 
        height: 20px;
    }
}