.filter-button {
    /* om de filter knopje momenteel niet te zien krijgen */
    display: none; 
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: #ffffff;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    border: #bababa solid 1px;
    transform: translateY(1rem);
}

.filter-button svg {
    border: none;
    outline: none;
}

.filter-button:hover {
    border-color: #000;
}

.icon {
    color: black;
}

@media (max-width: 768px) {
    .filter-button {
        font-size: 14px;
        padding: 6px 10px;
        transform: translateY(-0.02rem);
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: left; 
        margin-left: 20px;
        width: 100px; 
      }

    .filter-button svg {
        width: 20px; 
        height: 20px;
    }
}

@media (max-width: 480px) {
    .filter-button {
        font-size: 10px; 
        padding: 5px 8px; 
    }

    .filter-button svg {
        width: 18px; 
        height: 18px;
    }
}
