.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    width: 35vw;
    height: 80vh;
    max-height: 80vh;
    padding: 20px;
    background-color: white;
    border-radius: 0.9rem;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
   
  .price-display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .price-display span {
    font-size: 14px;
    color: #333;
  }
  @media (max-width: 768px) {
    .modal-content {
      width: 80vw; /* Breid de modal uit naar 80% van de breedte van het scherm */
      height: 60vh; /* Verklein de hoogte van de modal */
      padding: 15px; /* Verminder de padding om meer ruimte te maken */
    }
  }
  
  @media (max-width: 480px) {
    .modal-content {
      width: 90vw; /* Breid de modal verder uit op telefoons */
      height: 50vh; /* Verklein de hoogte verder op mobiele telefoons */
    }
  }