.forgotPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotPasswordForm {
    min-width: 300px;
    width: 25%;
    margin-top: 20px;
    padding: 30px;
    background: #EBFAED;
    border-radius: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.forgotPasswordTitle {
    color: black;
    font-size: 36px;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    line-height: 54px;
    word-wrap: break-word;
    margin-top: 50px;
}

.forgotPasswordInput {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.forgotPasswordLabel {
    color: black;
    font-size: 24px;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fillInYourCodeLabel {
    margin-bottom: 0;
}

.forgotPasswordButton {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    background: #0D9813;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
    font-size: 16px;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 10px;
}

.forgotPasswordText {
    color: black;
    font-size: 12px;
    font-family: Kanit;
    font-weight: 275;
    line-height: 18px;
    word-wrap: break-word;
    margin-top: 10px;
}

.forgotPasswordDigitInput {
    display: flex;
    justify-content: center;
    width: auto;
}


.forgotPasswordDigitInput_digit {
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px black solid;
}

.successMessage {
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #0b7c10;
    background-color: #3fb366;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    color: white;
    margin-top: 25px;
}