/* Login.css */

.registerButton {
    width: 100%;
    padding: 8px 15px;
    margin-top: 15px;
    background: var(--secondary-color);
    box-shadow: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
    display: block;
    text-align: center; 
    text-decoration: none; 
    cursor: pointer;
}

.registerButton:hover {
    background: #4a86c3;
}

.registerTitle {
    color: black;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    line-height: 54px;
    word-wrap: break-word;
    margin-top: 30px;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.registerForm {
    margin-top: 20px;
    min-width: 300px;
    width: 25%;
    padding: 10px 30px;
    margin-bottom: 50px;
}

label {
    font-size: 18px;
}

.registerInput {
    width: 100%;
    height: auto;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.alreadyAccountText {
    color: black;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
    align-self: flex-start;
}