* {
  box-sizing: border-box;
}
.search-bar-container {
    
  width: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 13px; 
  left: 43%; 
  transform: translateX(-50%);
}
.bar {
  width: 600px;
  background: white;
  box-shadow: 0 0 5px hsl(0 0% 78%);
  border-radius: 30px;
  display: flex;
  font-size: 0.6rem;
  position: fixed;
  top: 0;
  left: 54%;
  transform: translateX(-50%);
  height: 55px;
}

.bar div {
  text-align: center;
  transition: background 250ms ease, width 250ms ease; 
  border-radius: 20px;
}
.bar div:hover {
  background: hsl(0 0% 94%); 
}
.check-in:hover, .check-out:hover, .location:hover, .accommodation:hover {
  width: 28%;
  cursor: pointer;
}
.accommodation:hover {
  width: 33%;
  cursor: pointer;
}
.check-in{
  width: 22%;
  align-items: center;
}
.check-out{
  width: 22%;
  align-items: center;
}
.location{
  width: 22%;
  align-items: center;
}
.searchbar-input {
  background: none;
  border: none;
  padding: 0.6rem 0 0 0;
  text-align: center;
  cursor: pointer;
  width: 80%;
}
.searchbar-input:focus {
  outline: none;
}

::placeholder {
  font-size: 0.64rem;
}

.accommodation {
  width: 27%;
  align-items: center;
}
.bar>div {
  position: relative;
  transition: background 250ms ease, width 250ms ease;
}
.bar>div::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.9px;
  height: 60%;
  background: rgb(88, 153, 22);
}
.bar>div:nth-of-type(1)::before {
  background: transparent;
}
.searchbar-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 4px ;
  font-size: 10px;
  line-height: 30px;
  border: 1px solid #0D9813;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  height: 35px;
  width: 35px;
  margin-top: 10px;
}
.searchbar-button:hover {
  background-color: #0D9813;
  border-color: #0D9813;
  transition-duration: 0.4s;
}
.searchbar-button svg {
  color: black; /* Zwarte kleur voor FaSearch-icoon */
}
.searchbar-button:hover svg {
  animation: bounce 0.7s ease 1;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}
.searchBar {
  background: none;
  border: none;
  padding: 0.6rem 0 0 0;
  text-align: center;
  cursor: pointer;
  width: 80%;
}
.searchBar:focus {
  outline: none;
}











