.about {
    width: 76%;
    margin: 0 auto;
    margin-top: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__subtitle-container h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: 430;
    text-align: center;
}

.about__fact-subtitle{
    margin: 0;
    font-size: 22px;
    font-size: clamp(0.8rem, 1.2vw + 0.8rem, 1.5rem);
    color: white;
}

.about__factsbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    gap: 3.75rem;
    width: 100%;
    margin: 0 auto;
}

.about__title {
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.about__fact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    background-color: #0D9813;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.about__text {
    font-size: 1.25rem;
    color: black;
    margin: 0rem;
}

.about__who-we-are-title {
    text-align: center;
}

.about__who-we-are-subtitle--marginbottom {
    margin-bottom: 4rem;
}

.about__text--margintop {
    margin-top: 1.2rem;
}

.about__fact-text {
    margin-top: 20px;
    color: white;
}

.about__fact-title {
    margin: 0;
    font-size: clamp(0.8rem, 1.2vw + 0.8rem, 1.5rem);    
    color: white;
}

.about__fact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.about__fact-image {
    height: auto;
    object-fit: contain;
}

.about__crew {
    width: 95%;
    margin: 0 ;
    text-align: center;
}

.about__team{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.about__member {
    gap: 2rem;
    width: 90%;
    margin-bottom: 8rem;
    margin: 0 auto;
}

.about__member-name{
    font-size: 1.4rem;
    font-weight: 480;
}

.about__member-role{
    font-size: 1rem;
    margin-bottom: 3.9rem;
}

.about__member > p:nth-of-type(1) {
    color: var(--primary-color);
}

.about__avatar {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.about__avatar-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.about__footer {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.about__footer p {
    color: black;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.about__footer p:first-child {
    margin-right: 50px;
}

@media (max-width: 1350px) {
    .about__team{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1100px) {
    .about__team{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 980px) {
    .about__team{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .about{
        width: 79%;
        margin: 0 auto;
    }
    .about__team{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about__title{
        margin-top: 3rem;
    }
    .about__member {
        width: 100%;
    }
    .about__factsbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__fact {
        width: 94%;
    }
    .about__footer {
        flex-direction: column;
    }
    .about__footer p:first-child {
        margin: 0 0 25px 0;
    }
    .about__footer p:last-child {
        margin-bottom: 3rem;
    }
}
