.aboutus{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.factsbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.awesomefacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    background-color: #0D9813;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutText {
    margin-top: 30px;
}

.factsText {
    margin-top: 20px;
}

.factsTitle {
    margin: 0;
    font-size: 30px;
}

.factsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.factsImage {
    height: auto;
    object-fit: contain;
}


.crew {
    text-align: center;
}
.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.member {
    width: 20%;
    margin-bottom: 20px;
}

.avatar {
    height: 100px;
    width: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}

.about {
    text-align: left;
    margin-top: 40px;
}

@media (max-width: 850px) {
    .member {
        width: 100%;
    }
    .factsbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .awesomefacts {
        width: 100%;
    }
}