.datasafety-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    color: #000;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .datasafety-header {
    text-align: left; /* Align to the left */
    color: #000;     /* Set text color to black */
    font-size: 24px; /* Set font size */
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .section-header {
    color: #000;     /* Set text color to black */
    font-size: 20px; /* Set font size */
    margin-bottom: 10px;
  }
  
  .section-paragraph {
    color: #000;     /* Set text color to black */
    font-size: 16px; /* Set font size */
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .section-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .section-list-item {
    color: #000;     /* Set text color to black */
    font-size: 16px; /* Set font size */
    margin-bottom: 10px;
    font-weight: 400;
  }
  