.helpContainer {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 3.5rem;
}

.helpSearchWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 88.9%;
  margin-bottom: 2rem;
}

.helpSearchInput {
  width: 98%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.helpSearchButton {
  position: absolute;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  right: 1.3px;
  top: 5px;
  padding: 7px 15px;
}

.helpSearchButton:hover {
  background-color: #367a4a;
}

h3{
  font-size: 2rem;
}

@media (max-width: 900px) {
  .helpContainer {
    width: 90%;
  }
}