.helpContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.faqHeader3 {
  margin: 3.5rem auto 1.4rem auto;
  font-size: clamp(20px, 4vw, 32px);
}

.helpSearchWrapper {
  position: relative;
  width: 78%;
  max-width: 100%;
}

.helpSearchInput {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.helpSearchButton {
  position: absolute;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  right: -20px;
  top: 5px;
  padding: 7px 15px;
}

/* Optioneel: Voeg een hover effect toe aan de knop */
.helpSearchButton:hover {
  background-color: #367a4a;
}

@media (max-width: 960px) {
  .helpSearchWrapper {
    width: 79%;
    left: 1.1%;
  }
}