.howitworks__main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.howitworks__title {
  font-size: 2rem;
  font-weight: 450;
  margin-top: 3.6rem;
}

.howitworks__subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
}

.howitworks__titles-container {
  max-width: 100%;
  margin: 0 auto;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.howitworks__section-title-container {
  width: 100%;
  max-width: 84.12rem;
  margin-top: 1.4rem;
  display: flex;
}

.howitworks__section-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem 2rem;
}

.howitworks__info-block {
  width: 95%;
  max-width: 80.12rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.howitworks__info-block--guests {
  background: #0D9813;
}

.howitworks__info-block--hosts {
  background: #052C5A;
  margin-bottom: 7rem;
}

.howitworks__info-item {
  background-color: inherit;
  margin: 0.3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  text-align: left;
}

.borderright {
  border-right: 0.2rem solid white;
  padding-right: 1rem;
}

.borderleft {
  border-left: 0.2rem solid white;
  padding-left: 1rem;
}

.howitworks__info-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.howitworks__info-title {
  font-size: 1.4rem;
  color: white;
  font-weight: 450;
  text-align: left; 
  margin: 0; 
}

.howitworks__info-text {
  font-size: 1rem;
  color: white;
  width: 100%;
  margin: auto; 
}

@media (max-width: 1264px) {
  .howitworks__info-item {
    height: auto;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    align-items: flex-start; 
  }

  .howitworks__info-header {
    justify-content: space-between; 
    align-items: flex-end; 
    height: auto;
    width: 100%;
    margin-bottom: 0.5rem; 
  }

  .howitworks__info-title {
    text-align: left;
    margin: 0 ;
  }

  .howitworks__info-text {
    text-align: left;
    width: 85%;
    margin: 0;
  }

  .howitworks__info-block {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .borderright {
    border-right: none;
    border-bottom: 0.2rem solid white;
  }

  .borderleft {
    border-left: none;
    border-top: 0.2rem solid white;
  }

  .howitworks__section-title-container {
    width: 100%;
    align-items: flex-start; 
    justify-content: center; 
    margin-bottom: 1.1rem;
    padding-left: 1rem; 
  }
}
