.howitworks__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.howitworks__title {
  font-size: 2.25rem;
  margin: 0rem;
}

.howitworks__subtitle {
  font-size: 1.25rem;
  margin: 0rem;
}

.howitworks__titles-container {
  width: 100%;
  gap: 1.375rem;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.howitworks__section-title-container {
  width: 84.12rem;
  margin-top: 1.4rem;
  display: flex;
  margin-bottom: 0.6rem;
}

.howitworks__section-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0rem;
}

.howitworks__info-block {
  width: 84.12rem;
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.howitworks__info-block--guests {
  background: #0D9813;
}

.howitworks__info-block--hosts {
  background: #052C5A;
  margin-bottom: 7rem;
}

.howitworks__info-item {
  width: 23.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
}

.borderleft {
  border-left: 0.2rem solid white;
  padding-left: 2rem;
}

.borderright {
  border-right: 0.2rem solid white;
}

.howitworks__info-header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.howitworks__info-title {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

.howitworks__info-text {
  font-size: 1rem;
  color: white;
  max-width: 19rem;
}

@media (max-width: 1364px) {
  .howitworks__main {
    padding-left: 1rem;
  }
  .howitworks__info-block {
    width: 100%;
  }
  .howitworks__section-title-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1rem;
  }
}

@media (max-width: 1238px) {
  .howitworks__main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .borderleft {
    border-left: 0.0rem solid white;
    border-top: 0.2rem solid white;
    padding-left: 2rem;
  }
  .borderright {
    border-right: 0.2rem solid white;
  }
}

@media (max-width: 796px) {
  .borderright {
    border-right: 0.0rem solid white;
    border-bottom: 0.2rem solid white;
    padding-left: 0rem;
    padding-bottom: 2rem;
  }
  .borderleft {
    padding-top: 2rem;
  }
}
