.howitworksmain {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.howitworksTitleDomits {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3.6rem;
}

.howitworkssmallerTitleDomits {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0rem;
}

.howitworkstitlescontainer {
  max-width: 100%;
  margin: 0 auto;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.guestSmallTitleContainer {
  width: 100%;
  max-width: 84.12rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: flex-start;
}

.infoTitleGuest {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0rem;
}

.guestinfoblockhowitworks {
  width: 100%;
  max-width: 80.12rem;
  background: #0D9813;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.informationContainerHowItWorks {
  background-color: inherit;
  margin: 0.3rem auto;
  height: auto; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
}

.borderleft {
  border-left: 0.2rem solid white;
  padding-left: 3rem;
}

.borderright {
  border-right: 0.2rem solid white;
  padding-right: 3rem;
}

.titleIconHowItWorks {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: auto; 
  width: 100%; 
  margin-bottom: 0.5rem; 
  margin-bottom: 1rem;
}

.titleinformationH3 {
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
  margin: 0; 
}

.informationHowItWorksP {
  font-size: 1rem;
  color: white;
  max-width: 19rem;
  min-width: 100%;
  margin-top: 1.6rem;
  text-align: left;
}

.bluebackground {
  background: #052C5A;
  margin-bottom: 7rem;
  padding: 1rem;
}

@media (max-width: 994px) {
  .informationContainerHowItWorks {
    height: auto;
    padding: 1rem; 
    margin: 1rem 0; 
    align-items: flex-start; 
  }

  .titleIconHowItWorks {
    justify-content: space-between; 
    align-items: center;
    height: auto; 
    width: 100%; 
    margin-bottom: 0.5rem; 
  }

  .titleinformationH3 {
    text-align: left; 
    margin: 0; 
  }

  .informationHowItWorksP {
    width: 100%; 
  }

  .guestinfoblockhowitworks {
    grid-template-columns: 1fr;
    gap: 1rem; 
  }

  .borderleft {
    border-left: none;
    border-top: 0.2rem solid white;
  }

  .borderright {
    border-right: none;
    border-bottom: 0.2rem solid white;
  }

  .guestSmallTitleContainer {
    width: 100%;
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-bottom: 1.1rem;
    padding-left: 1rem; 
  }
}

