.WhyDomitsTwoMain {
    width: 90%;
    margin: 0 auto;
}

.WhyDomitsTwoTitleTextContainer {
    padding: 5rem 6.75rem;
    padding-bottom: 0rem;
}

.WhyDomitsTwoH3 {
    font-size: 1.8rem;
    margin: 0rem;
    font-weight: 500;
    text-align: center;
}

.WhyDomitsTwoH4 {
    font-size: 1.45rem;
    font-weight: 400;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.WhyDomitsTwoP {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: black;
}

img[alt="check"]{
    width: 25px;
    margin-right: 9px;
    margin-top: 10px;
}

.WhyDomitsTwoCardsContainer {
    min-height: 20rem;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.6rem;
    flex-wrap: wrap;
}

.WhyDomitsTwoCard {
    width: 45%;
    margin: 0 auto;
    background: #0D9813;
    min-height: 9.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    padding: 0rem 1rem;
}

.WhyDomitsTwoCardP {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

@media (max-width: 1120px){
    .WhyDomitsTwoMain {
        width: 110%;
        margin: 0 auto;
    }

    .WhyDomitsTwoCardsContainer {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.6rem;
        flex-wrap: wrap;
    }
    
    .WhyDomitsTwoCard {
        width: 73%;   
    }

    .WhyDomitsTwoCard:last-child{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}