.why-domits {
    width: 85%;
    margin: 0 auto;
}

.why-domits__title-text-container {
    padding: 6.75rem;
    padding-bottom: 1rem;
}

.why-domits__h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    font-weight: 450;
}

.why-domits__h4 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.6rem;
    margin-bottom: 3rem;
}

.why-domits__p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 1.6rem;
    margin-bottom: 3rem;
    color: black;
}

.why-domits__cards-container {
    min-height: 20rem;
    min-width: 84%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 3.2rem;
    flex-wrap: wrap;
}

.why-domits__card {
    width: 36%;
    background: #0D9813;
    min-height: 9.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    gap: 2rem;
}

.why-domits__card-p {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}


@media(max-width: 1200px){
    .why-domits__cards-container{
        width: 90%;
    }

    .why-domits__card {
        min-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .why-domits {
        width: 100%;
        margin: 0 auto;
    }

    .why-domits__h3 {
        font-size: 2rem;
    }

    .why-domits__h4 {
        font-size: 1.75rem;
    }

    .why-domits__p {
        font-size: 1.125rem;
    }

    .why-domits__card-p {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) {
    .why-domits__h3 {
        font-size: 1.75rem;
    }

    .why-domits__h4 {
        font-size: 1.5rem;
    }

    .why-domits__p {
        font-size: 1rem;
    }

    .why-domits__card-p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .why-domits__h3 {
        font-size: 1.5rem;
    }

    .why-domits__h4 {
        font-size: 1.25rem;
    }

    .why-domits__p {
        font-size: 0.875rem;
    }
    .why-domits__card-p {
        font-size: 0.875rem;
    }
}
