// Variables
$primary-color: #4CAF50;
$secondary-color: #fff;
$font-size-small: 14px;
$font-size-medium: 16px;

// Footer Styling
.main-footer {
  background-color: #f8f8f8;
}

.footer-content {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;

  .footer-headers {
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
  }

  .footer-lists {
    list-style: none;
    padding: 0;
    overflow: visible;
    white-space: normal;
  }

  .footer-links {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;

    a {
      text-decoration: none;
      margin-left: 3px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-icons img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin: 10px;
  }
}

.footer-copyright {
  background-color: #0D9813;
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

  .footer-copyright-text {
    color: $secondary-color;
    font-size: $font-size-medium;
    font-weight: 300;
    line-height: 150%;
  }
}

.footer-terms {
  margin: 10px auto;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;

  a {
    display: inline;
    margin-left: 20px;
    text-decoration-line: underline;
        color: black;
        margin-top: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Media Queries
@media screen and (max-width: 830px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-section,
  .footer-endsection {
    margin: 0;
    border-top: 1px solid $primary-color;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .footer-headers {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section,
  .footer-endsection {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-headers {
    font-size: 20px;
  }

  .footer-links {
    font-size: 0.9rem;
  }

  .footer-icons img {
    width: 2rem;
    height: 2rem;
  }

  .footer-copyright-text {
    font-size: $font-size-small;
  }

  .footer-terms {
    flex-direction: column;
    align-items: center;
    text-align: center;

    a {
      margin: 5px 0;
    }
  }
}