.button_containerc {
    display: inline-flex;
    margin-right: 10px;
}

.buttonc {
    height: 5rem;
    width: 18rem;
    border-radius: 1.5rem;
    border: none;
    color: white;
    margin: 0;
}

.add-files-button {
    background-color: #0D9813;
}

.send-review-link {
    background-color: #49146A;
}

.username {
    background-color: #308AE4;
    border-radius: 1.5rem;
    color: white;
}

.text {
    background-color: #C2E5C4;
    border-radius: 1.5rem;
}

.chat_box {
    width: 900px;
    height: 500px;
    background:lightgrey;
    border: 2px;
    overflow: auto;
    margin-left: 300px;
}
.input_container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input_field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #333; /* Add text color */
    background-color: #fff; /* Add background color */
    box-shadow: none; /* Remove any box shadow */
}


.send_button {
    background-color: #308AE4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.send_button:hover {
    background-color: #367fc8;
}
