.button_container {
    display: inline-flex;
    margin-right: 10px;
}

.buttonc {
    height: 5rem;
    width: 18rem;
    border-radius: 1.5rem;
    border: none;
    color: white;
    margin: 0;
}

.add-files-button {
    background-color: #0D9813;
}

.send-review-link {
    background-color: #49146A;
}

.username {
    background-color: #308AE4;
    border-radius: 1.5rem;
    color: white;
}

.text {
    background-color: #C2E5C4;
    border-radius: 1.5rem;
}

.chat_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Your existing styles */
    width: 717px;
    height: 427px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    margin-left: 300px;
    overflow: auto;
}

.input_container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin bottom to create space between the input and bottom */
}

.input_field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #333; /* Add text color */
    background-color: #fff; /* Add background color */
    box-shadow: none; /* Remove any box shadow */
}


.send_button {

}

.send_button:hover {
    background-color: #367fc8;
}
