.accocard {
  width: 23%;
  margin: 1%;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
}

.accocard:hover {
  box-shadow: 3px 12px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.accocard img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.accocard-content {
  padding: 15px;
  overflow: hidden;
  
}

.accocard-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  
}

.accocard-price {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 8px;
}

.accocard-detail {
  margin-bottom: 8px;
}

.accocard-size {
  font-size: 14px;
  color: #777;
}

@media (max-width: 1292px) {
  .accocard {
    width: 31%;
  }
}

@media (max-width: 856px) {
  .accocard {
    width: 48%;
  }
}