.assortment{
  padding-top: 30px;
}

.accocard {
  width: 23%;
  margin: 1%;
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
}

.accocard:hover {
  cursor: pointer;
}

.accocard img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 15px;
}

.accocard-link {
  text-decoration: none;
  color: black;
}

.accocard-link:hover {
  text-decoration: none;
  color: black;
}

.accocard-content {
  padding: 15px 0;
  overflow: hidden;
}

.accocard-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  
}

.accocard-price {
  font-size: 16px;
  color: #0D9813;
  margin-bottom: 8px;
}

.accocard-detail {
  margin-bottom: 8px;
}

.accocard-specs {
  display: flex;
  flex-direction: row;
}

.accocard-size {
  font-size: 14px;
  color: #777;
  margin: 0 3% 0 0;
}


@media (max-width: 1292px) {
  .accocard {
    width: 31%;
  }
}

@media (max-width: 856px) {
  .accocard {
    width: 48%;
  }
}