.StripeModal {
  z-index: 2;
  left: 0;
  width: 100%;
  height: 2vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #0D9813;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  transform: translateY(-100%);
  opacity: 0;
}

.StripeModal-open {
  transform: translateY(0);
  opacity: 1;
}

.StripeModal h2 {
  font-size: 1.4em;
  margin: 0 15px;
  flex-grow: 1;
}

.StripeModal button {
  background-color: #0D9813;
  border: none;
  border-radius: 40px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.StripeModal button:hover {
  background-color: #3da942;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.dashboard {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 200px auto;
}


.wijzer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  max-width: 200px;

}

.wijzer:hover {
  box-shadow: 4px 4px #003366;
  transition: .3s;
}

.dashboardSection {
  display: flex;
  flex-direction: column;
}


.wijzer,
.boxText {
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 5px;

}

.wijzer-grn {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-width: 200px;

}

.wijzer-grn,.boxText {
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 5px;
}

.wijzer-grn:hover {
  box-shadow: 4px 4px #003366;
  transition: .3s;
}

.stripe-icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 15px;
  border: 1.75px solid black;
}

.stripe-icon-div {
  padding-left: 0.25rem;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.boxColumns {
  height: auto;
  margin: 10px;
  min-width: 155px;

  display: flex;
  flex-direction: column;

}

.fullColumn {
  width: 80%;
}

.box {
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;

}

.fullBox {
  min-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.locationBox {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.1em;
}


.boxText {
  width: 80%;
  margin: auto;
}

#withdrawButton {
  background-color: #003366;
  color: #fff;

  margin: 10px;
  border-radius: 10px;
  box-shadow: none;
  padding: 10px;
  margin-left: auto;
}

.withdrawText {
  color: black;

}
.priceText {
  border: solid 1px black;
  border-radius: 15px;
  padding: 11px;
  width: 100px;
}

.withdrawContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  width: 50%;
  margin: 10px;
  text-align: left;
}

#date {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  outline: none;
  
}

#date {
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your preferred focus shadow */
}

.header {
  font-size: 1.75em;
}

.accommodation-title {
  font-size: 1.2em;
  font-weight: bolder;
}
.accommodation-tab {
  border-radius: 15px;
  border: 1px solid gray;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 10px;
}
.accommodation-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.accommodation-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.accommodation-tab:hover {
  box-shadow: 4px 4px #003366;
}
.accommodation-img {
  padding: 5px;
  border-radius: 15px;
  max-height: 15vh;
  max-width: 25vw;
}
.undo-btn {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-between;
}

.undo-btn:hover {
  background-color: white;
  box-shadow: 4px 4px #003366;
}
.undo-txt {
  font-size: 15px;
}
@media screen and (max-width: 830px) {

  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dashboardSection {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .wijzer {
    width: 90%;
  }
}