.container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.dashboard {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 200px auto;
}


.wijzer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  max-width: 200px;

}

.wijzer:hover {
  box-shadow: 4px 4px #003366;
  transition: .3s;
}

.dashboardSection {
  display: flex;
  flex-direction: column;
}


.wijzer,
.boxText {
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 5px;

}

.wijzer-grn {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

.wijzer-grn,.boxText {
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 5px;
}

.wijzer-grn:hover {
  box-shadow: 4px 4px #003366;
  transition: .3s;
}

.stripe-icon {
  height: 48px;
  width: 48px;
  border-radius: 20px;
  border: 2px solid black;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.boxColumns {
  width: 24%;
  height: auto;
  margin: 10px;
  min-width: 155px;

  display: flex;
  flex-direction: column;

}

.fullColumn {
  width: 80%;
}

.box {
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;

}

.fullBox {
  min-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.locationBox {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.boxText {
  width: 80%;
  margin: auto;
}

#withdrawButton {
  background-color: #003366;
  color: #fff;

  margin: 10px;
  border-radius: 10px;
  box-shadow: none;
  padding: 10px;
  margin-left: auto;
}

.withdrawText {
  color: black;

}
.priceText {
  border: solid 1px black;
  border-radius: 15px;
  padding: 11px;
  width: 100px;
}

.withdrawContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  width: 50%;
  margin: 10px;
  text-align: left;
}

#date {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  outline: none;
  
}

#date {
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your preferred focus shadow */
}


@media screen and (max-width: 830px) {

  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dashboardSection {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  .wijzer {
    width: 90%;
  }
}