.hr-container {
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
    padding: 800px;

}

.hr-host-revenues {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.hr-pages {
    width: 15%;
    margin-right: 20px;
    text-align: center;

}

.hr-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hr-revenue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hr-revenue-header h2 {
    font-size: 1.5em;
    margin: 0;
}

.hr-filters {
    display: flex;
    gap: 10px;
}

.hr-filters button,
.hr-filters select {
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.hr-chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hr-chart-container h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hr-revenue-overview {
    flex: 1;
    min-width: 300px;
}

.hr-monthly-comparison {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hr-cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.hr-occupancy-rate-card, .hr-revpar-card {
    flex: 1;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .hr-host-revenues {
        flex-direction: column;
    }

    .hr-pages,
    .hr-content,
    .hr-revenue-overview,
    .hr-monthly-comparison {
        width: 100%;
        margin-right: 0;
    }

    .hr-cards {
        flex-direction: column;
    }
}