.guest-chat-screen {
    border: 1px solid #dee2e6;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 35rem;
    min-height: 30rem;
    max-height: 30rem;
    border-radius: 1rem;
    justify-content: start;
    padding: 0 0.25rem 0.25rem 0.25rem;
}

.guest-chat-header {
    height: 15%;
}


.chat-screen {
    display: flex;
    flex-direction: column-reverse;
    height: 72.5%;
    overflow-y: auto; 
}

.chat-screen::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

.chat-screen::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20%;
}

.guest-chat-message.sent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.guest-chat-message.sent .guest-message-header {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}
.guest-chat-message.received .guest-message-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.guest-chat-message.sent .guest-message-content {
    display: inline-block;

    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    text-align: right;
    margin-left: auto;
    max-width: 70%;
    word-wrap: break-word;
    border-bottom-right-radius: 0;
}
.guest-chat-message.received {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.guest-chat-message.received .guest-message-content {
    background-color: var(--secondary-color);
    color: white;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    margin-right: auto;
    max-width: 70%;
    word-wrap: break-word;
    border-bottom-left-radius: 0;
}
.guest-sender-name {
    font-size: 1rem;
    color: black;
}
.guest-chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12.5%;
}

.guest-message-input-textarea {
    height: 60%;
    width: 80%;
    resize: none;
    border-radius: 1rem;
}
.guest-message-input-send-button {
    height: 50%;
    width: 15%;
    align-self: center;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}
