.PaymentOverview{
    display: flex;
    justify-content: center;

    .confirmInformation {
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .confirmInformation h3{
            padding-left: 0px;
        }

        .resend-confirmation {
            color: #4CAF50;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .right{
        width: 8vh;
    }
    
    .left {
        display: flex;
        gap: 2px;
        border-radius: 8px;
        padding: 16px;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .priceContainer {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding: 16px;
    
        .priceContainer h3{
            padding-left: 0px;
        }
        
        .price-breakdown .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        
        .total-price {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .view-booking-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        align-self: auto;
        .view-booking-button button{
            align-self: auto;
        }
    }
    
    
    .mobile-left {
        width: 100%; /* Make it take the full width */
        order: 0; /* Ensure it appears below the confirmInformation section */
    }
}















/* @media (max-width: 768px) {
    .left {
        display: none;
    }
    
} */