.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: default;
}

.pagination button:hover:not(:disabled) {
    background-color: #ddd;
}
.listing {
    box-shadow: none;
}
.listing-delete {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: none;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    transition: all 0.2s;
    max-width: 6em;
    max-height: 2em;
}
.listing-delete:hover {
    background-color: darkred;
}