.main-dashboard-guest {
    display: flex;
    min-height: auto;
}

.main-dashboard-content {
    flex: 1;
    min-width: 0;
}

@media (max-width: 640px) {
    .main-dashboard-guest {
    justify-content: center;
    align-items: center;
    }
}