.guest-pages {
  position: relative;

  .hamburger-btn {
    display: none;
  }

  .sidebar {
    position: static;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100vh;
    background: none;
    box-shadow: none;
    padding: 1rem;
    width: 100%;

    .close-sidebar-btn {
      display: none;
    }

    .menu-content {
      margin-top: 0;
      padding-top: 0;

      select {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .dashboard-sections {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;

        .wijzer {
          height: 20px;
          display: flex;
          align-items: center;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 8px;
          cursor: pointer;
          transition: background 0.3s ease;

          .icon {
            margin-right: 10px;
          }

          &:hover {
            background-color: #e0f7e9;
          }

          &.active {
            background-color: #0D9813;
            color: white;
          }
        }
      }
    }
  }
}