.guest-contact-list-modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  padding: 0 0.25rem 0.25rem 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  min-width: 17.5rem;
  max-width: 17.5rem;
  height: 90vh;
}
.guest-contact-list-modal h3 {
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}
.guest-contact-list-modal::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
}
.guest-contact-list-modal .guest-contact-list-toggle .contact-dropdown {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: rgb(215, 215, 215);
  color: #333;
  cursor: pointer;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}
.guest-contact-list-modal .guest-contact-list-toggle .contact-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 1px black, -2px 1px 3px rgba(0, 0, 0, 0.1);
}
.guest-contact-list-modal .guest-contact-list-list {
  overflow-y: auto;
  scrollbar-width: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(245, 244, 242);
  border-radius: 0.8rem;
  padding: 0rem 1rem;
  height: 5rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content:hover {
  background-color: rgb(235, 235, 235);
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.selected {
  background-color: rgb(205, 205, 205);
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-image-container {
  position: relative;
  width: 35%;
  margin-right: 0.5rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-image-container .guest-contact-item-profile-image {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #e0e0e0;
  flex-shrink: 0;
  top: -30%;
  left: -15%;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-image-container .guest-contact-item-accommodation-image {
  display: block;
  width: 5rem;
  height: 2.5rem;
  margin-right: 1em;
  border-radius: 10%;
  background-color: #e0e0e0;
  flex-shrink: 0;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-text-container {
  height: 100%;
  width: 62.5%;
  padding-right: 1rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-text-container p {
  margin: 0;
  padding: 0;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-text-container .guest-contact-item-full-name {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #000;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-text-container .guest-contact-item-subtitle {
  font-family: "Kanit", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.75em;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content .guest-contact-item-text-container .guest-contact-item-subtitle #status {
  font-weight: 501;
  font-size: smaller;
  color: #000;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-image-container {
  position: static;
  height: 100%;
  width: 35%;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-image-container .guest-contact-item-profile-image {
  position: static;
  width: 2.5rem;
  height: 2.5rem;
  top: 0;
  left: 0;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-text-container {
  height: 100%;
  width: 100%;
  padding-right: 1rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-text-container p {
  margin: 0;
  padding: 0;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-text-container .guest-contact-item-full-name {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #000;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-text-container .guest-contact-item-subtitle {
  font-family: "Kanit", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.75em;
  color: #000;
  max-height: 50%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guest-contact-list-modal .guest-contact-list-list .guest-contact-item-content.no-accommodation-image .guest-contact-item-text-container .guest-contact-item-subtitle #status {
  font-weight: 501;
  font-size: smaller;
  color: #000;
}

.guest-chat-components {
  display: flex;
  flex-direction: row;
}
.guest-chat-components .guest-chat-screen {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 40rem;
  max-width: 40rem;
  height: 85vh;
  justify-content: start;
  border-left: 0.05rem rgb(150, 150, 150) solid;
  border-right: 0.05rem rgb(150, 150, 150) solid;
}
.guest-chat-components .guest-chat-screen .guest-chat-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  border-bottom: 0.05rem solid rgb(150, 150, 150);
}
.guest-chat-components .guest-chat-screen .guest-chat-header .back-to-contacts-button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  margin-left: 1rem;
}
.guest-chat-components .guest-chat-screen .guest-chat-header .guest-profile-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.guest-chat-components .guest-chat-screen .guest-chat-header .guest-chat-header-grid {
  margin-left: 0.5rem;
}
.guest-chat-components .guest-chat-screen .guest-chat-header .guest-chat-header-grid p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.guest-chat-components .guest-chat-screen .guest-chat-header h3 {
  font-size: medium;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.guest-chat-components .guest-chat-screen .chat-screen {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: auto;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-chat-message.received {
  margin-bottom: 1rem;
  margin-left: 1.25rem;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-chat-message.received .guest-message-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25rem;
  gap: 0.5rem;
  align-items: center;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-chat-message.received .guest-message-content {
  background-color: rgb(91, 126, 158);
  color: black;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.3rem 1.25rem;
  margin-right: auto;
  max-width: 70%;
  word-wrap: break-word;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-chat-message.received .guest-message-attachments {
  justify-content: flex-start;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-chat-message.sent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-right: 1.25rem;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-message-header {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-message-content {
  display: inline-block;
  background-color: rgb(196, 230, 197);
  color: black;
  border-radius: 1rem;
  padding: 0.3rem 1.25rem;
  text-align: right;
  margin-left: auto;
  max-width: 70%;
  word-wrap: break-word;
}
.guest-chat-components .guest-chat-screen .chat-screen .guest-message-attachments {
  justify-content: flex-end;
}
.guest-chat-components .guest-chat-screen .guest-chat-input {
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10.5%;
  position: relative;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-add-attachment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-add-attachment .guest-add-file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 60%;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: white;
  color: black;
  border: solid black 1px;
  cursor: pointer;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-add-attachment .guest-add-file-button:hover {
  color: grey;
  border: grey solid 1px;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-textarea {
  background-color: rgb(217, 217, 217);
  height: 30%;
  width: 80%;
  resize: none;
  border-radius: 1rem;
  border-color: black;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  overflow-y: auto;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-textarea::-moz-placeholder {
  color: black;
  font-weight: 600;
  opacity: 1;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-textarea::placeholder {
  color: black;
  font-weight: 600;
  opacity: 1;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-textarea::-webkit-scrollbar {
  display: none;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-send-button {
  position: absolute;
  background: none;
  border: none;
  right: 1rem;
}
.guest-chat-components .guest-chat-screen .guest-chat-input .guest-message-input-send-button:hover {
  color: grey;
}
.guest-chat-components .guest-chat-screen .guest-sender-name {
  font-size: 0.9rem;
  color: grey;
}
.guest-chat-components .guest-chat-screen .guest-message-time {
  font-size: 0.9rem;
  color: grey;
}
.guest-chat-components .guest-chat-screen .guest-message-attachments {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: flex-start;
}
.guest-chat-components .guest-chat-screen .message-image,
.guest-chat-components .guest-chat-screen .message-video {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 875px) {
  .guest-chat-components .guest-chat-screen {
    min-width: 28rem;
    max-width: 28rem;
    min-height: 30rem;
    max-height: 30rem;
  }
}
@media (max-width: 600px) {
  .guest-chat-components .guest-chat-screen {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .guest-chat-components .guest-chat-buttons {
    width: 85%;
  }
}

.guest-booking-tab {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
  gap: 1rem;
  max-height: 85vh;
  min-width: 16rem;
  overflow-y: auto;
}
.guest-booking-tab::-webkit-scrollbar {
  width: 0.25rem;
}
.guest-booking-tab::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}
.guest-booking-tab::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.guest-booking-tab h3 {
  padding: 0;
  margin: 0;
}
.guest-booking-tab h4 {
  padding: 0;
  margin: 0;
}
.guest-booking-tab p {
  padding: 0;
  margin: 0;
}
.guest-booking-tab .acco-image {
  display: flex;
  flex-direction: column;
  height: 15rem;
}
.guest-booking-tab .acco-image img {
  align-self: center;
  width: 100%;
  height: 65%;
  border-radius: 1rem;
}
.guest-booking-tab .booking-status {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.guest-booking-tab .booking-status h3 {
  padding: 0;
  margin: 0;
  align-self: flex-start;
}
.guest-booking-tab .booking-status p {
  text-align: center;
  margin-bottom: 1rem;
}
.guest-booking-tab .booking-status button {
  align-self: center;
  background-color: white;
  border: solid black 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
}
.guest-booking-tab .chekin-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.guest-booking-tab .chekin-checkout .checkin,
.guest-booking-tab .chekin-checkout .checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guest-booking-tab .chekin-checkout h3 {
  padding: 0;
  margin: 0;
}
.guest-booking-tab .chekin-checkout .nights :nth-child(1) {
  padding-left: 1rem;
  border-bottom: solid black 1px;
}
.guest-booking-tab .street {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.guest-booking-tab .street .iconHouse {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.guest-booking-tab .reservation-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.guest-booking-tab .reservation-details h4 {
  font-weight: 505;
  font-size: 0.95rem;
}
.guest-booking-tab .reservation-details .guest-amount {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.guest-booking-tab .reservation-details .booking-id {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.guest-chat-components {
  display: flex;
  flex-direction: row;
}
.guest-chat-components .ContactsBack-button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  background: #f1f1f1;
  color: #333;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
.guest-chat-components .close-chat-button {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}
.guest-chat-components .close-chat-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-left: auto;
  cursor: pointer;
  color: #333;
}
.guest-chat-components .close-chat-button:hover {
  color: #666;
}
@media (min-width: 768px) and (max-width: 1145px) {
  .guest-chat-components .close-chat-button {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .guest-chat-components {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}/*# sourceMappingURL=guestMessages.css.map */