.guest-chat-components {
    display: flex;
    flex-direction: row;


    .ContactsBack-button {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 1rem auto;
        background: #f1f1f1;
        color: #333;
        border: none;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
    }

    .close-chat-button {
        margin-left: auto;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        display: none;
    }

    .close-chat-button {
        background: none;
        border: none;
        font-size: 1.2rem;
        margin-left: auto;
        cursor: pointer;
        color: #333;

        &:hover {
            color: #666;
        }
    }

    @media (min-width: 768px) and (max-width: 1145px) {
        .close-chat-button {
            display: block;
            margin-left: auto;
            background: none;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;


    }

}