

.aboutus{
    padding-left: 108px;
    padding-right: 100px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  
  .bigtext{
    margin-top: 77px;
    margin-bottom: 70px;
    width: 693px;
    height: 108px;
  }
  
  .aboutusimg img{
    float: right;
    margin-top: -100px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .underbigtext{
    width: 760px;
    height: 300px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
  }
  
  .awesomefacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .textbubbles{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .textbubbles h1{
    color: #0D9813;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  
  .bubble1{
    border: #000 3px solid;
    border-radius: 150px;
    width: 300px;
    margin: 30px;
  }
  
  .bubble2{
    border: #000 3px solid;
    border-radius: 150px;
    width: 300px;
    margin: 30px;
  }
  
  .bubble3{
    border: #000 3px solid;
    border-radius: 150px;
    width: 300px;
    margin: 30px;
  }
  
  .bubble4{
    border: #000 3px solid;
    border-radius: 150px;
    width: 300px;
    margin: 30px;
  }
  
  .bubble5{
    border: #000 3px solid;
    border-radius: 150px;
    width: 300px;
    margin: 30px;
  }
  
  .bubble1:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }

  .bubble2:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }
  
  .bubble3:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }
  
  .bubble4:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }
  
  .bubble5:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
  }
  