.accommodation-types.single-column {
  display: flex;
  flex-direction: column;
}

.accommodation-types.vertical-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add some space between the items */
}

.accommodation-types.bordered-list {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  margin-left: 40px; /* Move container to the left side */
  margin-right: auto; /* Allow container to be left-aligned */
  background-color: #f9f9f9;
  width: 450px;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accommodation-types .option {
  display: flex;
  flex-direction: row; /* Ensure horizontal layout */
  align-items: center;
  padding: 25px; /* More balanced padding */
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.accommodation-icon {
  width: 65px;  /* Perfect balance between too big and too small */
  height: 65px;
  margin-right: 22px;
}

.option-text {
  font-size: 22px;  /* Professional size that's still very readable */
  font-weight: 500;
  color: #262626;
  letter-spacing: -0.2px; /* Slight adjustment for better readability */
}

.accommodation-types .option:hover {
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
}

.option.selected {
  background-color: #f0f7ff;
  border: 1px solid #006ce4 !important;
}
