@import './contactlist/hostContactList';
@import './chatscreen/hostChatScreen';
@import './bookingtab/hostBookingTab';

.host-chat-components {
    display: flex;
    flex-direction: row;

    .host-chat-side {}

    .ContactsBack-button {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 1rem auto;
        background: #f1f1f1;
        color: #333;
        border: none;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
    }



}


@media (max-width: 1145px) {
    .host-chat-components {}

}



@media (max-width: 768px) {
    .host-chat-components {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}

@media (min-width: 769px) {
    .ContactsBack-button {
        display: none;
    }
}