.disclaimers{
    margin: 4rem auto;
    font-weight: 450;
    width: 86%;
    line-height: 150%;
}

.disclaimers input{
    width: 97%;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.policy{
    margin: 4rem auto;
    font-weight: 450;
    width: 86%;
    line-height: 150%;
}

.policy input{
    width: 97%;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.terms{
    margin: 4rem auto;
    font-weight: 450;
    width: 86%;
    line-height: 150%;
}

.terms input{
    width: 97%;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}