/* CSS for the header */
.app-header {
    display: flex;
    width: 100%;
    padding: 16px 50px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    background: var(--colors-background-primary, #FFF);
    box-shadow: 0px 2px 6px 0px rgba(13, 26, 38, 0.15);
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.app-header .logo {
    margin-right: auto;
}

.app-header .login-container {
    margin-left: auto;
}

.app-header button {
    padding: 8px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid var(--components-button-primary-border-color, rgba(0, 0, 0, 0.00));
    background: #0D9813;
}

/* CSS for the SearchBar */
.search-bar {
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 40px;
    padding: 7px 15px;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-bar input {
    border: none;
    outline: none;
}

.search-icon {
    margin-left: auto;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #ff6f61;
    transition: transform 0.3s, color 0.3s;
}

.close-button:hover {
    transform: rotate(180deg);
    color: #ff3d3d;
}


/* Footer styles */
.main-footer {
    background-color: #f8f8f8;
    width: 100%;
    /*min-height: 50vh;*/
    /*display: 'flex';*/
    /*flexDirection: 'column';*/
    /*max-height: 100px;*/
    /*overflowY: 'auto';*/
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-headers {
    color: #0D9813;
    font-family: Kanit, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-lists {
    list-style: none;
    padding: 0;
}

.footer-links {

    color: #000;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-decoration-line: underline;
}

.footer-copyright {

    background-color: #0D9813;
    flex-shrink: 0;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-copyright-text {
    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

/* End of footer */

