/* Login.css */

.loginButton {
    width: 400px;
    padding: 8px 15px;
    background: #0D9813;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 0;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.loginTitle {
    color: black;
    font-size: 36px;
    font-family: Kanit, sans-serif;
    font-weight: 400;
    line-height: 54px;
    word-wrap: break-word;
    margin-top: 50px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm {
    margin-top: 20px;
    padding: 30px;
    background: #EBFAED;
    border-radius: 15px;
}

label {
    font-size: 24px;
}

.loginInput {
    height: 100%;
    padding: 11px 332px 11px 15px;
    margin-top: 25px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px black solid;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex
}