.image-gallery-container {
  width: 100%;
}

.selected-image img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.image-thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 15px;
}

.image-thumbnails img.active,
.image-thumbnails img:hover {
  opacity: 1;
}

.selected-thumbnail {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}
