// Variables
$guest-green: var(--primary-color);
$host-blue: var(--secondary-color);
$hover-green: #6fb873;
$hover-blue: #4a86c3;
$text-color: black;
$font-main: 'Kanit', sans-serif;
$input-padding: 8px 15px;
$border-radius: 5px;
$button-font-size: 18px;
$title-font-size: 30px;
$no-account-font-size: 14px;

// Nesting Styles
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loginLogo {
    width: 15%;
    margin-top: 25px;
  }

  .loginTitle {
    color: $text-color;
    font-size: $title-font-size;
    font-family: $font-main;
    font-weight: 400;
    line-height: 54px;
    word-wrap: break-word;
    margin-top: 40px;
  }

  .loginForm {
    min-width: 373px;
    width: 100%;
    padding: 15px 30px;
    border-radius: $border-radius;
    margin-bottom: 50px;
    box-sizing: border-box;

    label {
      font-size: $button-font-size;
    }

    .loginInput {
      width: 100%;
      height: auto;
      padding: $input-padding;
      margin: 10px 0;
      background: white;
      border-radius: $border-radius;
      border: 1px solid black;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
    }

    .passwordContainer {
      position: relative;

      .togglePasswordButton {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .loginButton,
    .registerButtonLogin {
      width: 100%;
      padding: $input-padding;
      border-radius: $border-radius;
      border: none;
      box-shadow: none;
      color: white;
      font-size: $button-font-size;
      cursor: pointer;
      margin-top: 15px;

      &.loginButton {
        background: $guest-green;

        &:hover {
          background: $hover-green;
        }
      }

      &.registerButtonLogin {
        background: $host-blue;
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
          background: $hover-blue;

        }
      }
    }

    // .registerButtonLogin {
    //   width: 100%;
    //   padding: $input-padding;
    //   background: $host-blue;
    //   border-radius: $border-radius;
    //   border: none;
    //   box-shadow: none;
    //   color: white;
    //   font-size: $button-font-size;
    //   cursor: pointer;
    //   margin-top: 15px;

    //   display: block;
    //   text-align: center;
    //   text-decoration: none;

    //   &:hover {
    //     background: $hover-blue;
    //   }
    // }

    .errorText {
      margin: 10px 0;
      padding: $input-padding;
      text-align: center;
      border: 1px solid darkred;
      background: red;
      opacity: 0.7;
      color: white;
      border-radius: $border-radius;
    }

    .forgotPasswordText {
      &:hover {
        color: royalblue;
        cursor: pointer;
      }
    }

    .noAccountText {
      color: $text-color;
      margin-top: 20px;
      font-size: $no-account-font-size;
      font-family: $font-main;
      font-weight: 400;
      line-height: 18px;
      word-wrap: break-word;
      align-self: flex-start;
    }
  }
}

.emailSection {
  padding: 6rem;
  margin-bottom: 15%;
}