$primary-color: var(--domits-guest-green);
$secondary-color: var(--domits-host-blue);
$hover-primary: #6fb873;
$hover-secondary: #4a86c3;
$font-family: 'Kanit', sans-serif;
$font-size-large: 30px;
$font-size-medium: 18px;
$font-size-small: 14px;
$border-radius: 5px;

.loginLogo {
  width: 15%;
  margin-top: 25px;
}

.loginButton {
  width: 100%;
  padding: 8px 15px;
  background: $primary-color;
  border-radius: $border-radius;
  border: none;
  box-shadow: none;
  color: white;
  font-size: $font-size-medium;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    background: $hover-primary;
  }
}

.registerButtonLogin {
  width: 100%;
  padding: 8px 15px;
  background: $secondary-color;
  box-shadow: none;
  border-radius: $border-radius;
  border: none;
  color: white;
  font-size: $font-size-medium;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    background: $hover-secondary;
  }
}

.loginTitle {
  color: black;
  font-size: $font-size-large;
  font-family: $font-family;
  font-weight: 400;
  line-height: 54px;
  word-wrap: break-word;
  margin-top: 40px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  min-width: 373px;
  width: 100%;
  padding: 15px 30px;
  border-radius: $border-radius;
  margin-bottom: 50px;
  box-sizing: border-box;

  label {
    font-size: $font-size-medium;
  }

}

.loginInput {
  width: 100%;
  height: auto;
  padding: 8px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;

  &.passwordContainer {
    position: relative;

    .togglePasswordButton {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.emailSection {
  padding: 6rem;
  margin-bottom: 15%;
}

.forgotPasswordText {
  &:hover {
    color: royalblue;
    cursor: pointer;
  }
}

.noAccountText {
  color: black;
  margin-top: 20px;
  font-size: $font-size-small;
  font-family: $font-family;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
  align-self: flex-start;
}

.errorText {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  text-align: center;
  border: 1px solid darkred;
  background: red;
  opacity: 0.7;
  color: white;
  border-radius: $border-radius;
}