@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap");

.homePage-container {
  overflow: hidden;
}

.homePage-container .domits-homepage {
  background-color: #f9f9f9;
  position: relative;
  z-index: auto;
}

.homePage-container .domits-homepage .accocard-content {
  background-color: #f9f9f9;
}

.homePage-container .domits-homepage h1 {
  color: #000;
  margin-left: 60px;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .homePage-container .domits-homepage h1 {
    margin-left: 0;
  }
}

.homePage-container .domits-homepage .domits-searchContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--villa-background);
  background-size: cover;
  background-position: 70% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 87vh;
}

.homePage-container .domits-homepage .domits-searchTextCon {
  padding-top: 32vh;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  font-weight: 100;
}

.homePage-container .domits-homepage .domits-searchTextCon .domits-searchText {
  font-size: 2.5rem;
  padding-bottom: 2vh;
}

.homePage-container .domits-homepage .domits-searchbarCon {
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .homePage-container .domits-homepage .domits-searchTextCon {
    font-size: 5em;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .domits-searchTextCon {
    font-size: 2.5em;
    padding-top: 20vh;
  }
  .homePage-container .domits-homepage .domits-searchbarCon {
    display: none;
  }
  .homePage-container .domits-homepage .domits-searchTextCon .domits-searchText {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .domits-searchContainer {
    height: 50vh;
  }
  .homePage-container .domits-homepage .domits-searchTextCon {
    height: 50vh;
    font-size: 2em;
  }
  .homePage-container .domits-homepage .domits-searchTextCon .domits-searchText {
    font-size: 1em;
  }
}

.homePage-container .domits-homepage .domits-iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  height: 10vh;
  padding: 0 4%;
  margin-top: 20px;
}

.homePage-container .domits-homepage .domits-iconsContainerText {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.homePage-container .domits-homepage .domits-iconsContainerText img {
  width: 30px;
}

@media (max-width: 1020px) {
  .homePage-container .domits-homepage .domits-iconsContainer {
    margin-bottom: 130px;
  }
}
@media (max-width: 1024px) {
  .homePage-container .domits-homepage .domits-iconsContainerText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .domits-iconsContainer {
    flex-direction: column;
    gap: 15px;
    height: auto;
    padding: 10px 5vw;
    margin-bottom: 50px;
  }
  .homePage-container .domits-homepage .domits-iconsContainer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 569px) {
  .homePage-container .domits-homepage .domits-iconsContainer {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .domits-iconsContainerText {
    font-size: 1rem;
  }
}

.homePage-container .domits-homepage .domits-boatText h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}

@media (max-width: 768px) {
  .homePage-container .domits-homepage .domits-boatText h3 {
    font-size: 2rem;
    margin-left: 2vw;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .domits-boatText h3 {
    font-size: 1.5rem;
    margin: 20px auto;
  }
}

.homePage-container .domits-homepage .domits-trendingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  padding-bottom: 2vh;
  flex-wrap: wrap;
}

.homePage-container .domits-homepage .domits-trendingContainer .popup-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.homePage-container .domits-homepage .domits-trendingContainer > div {
  width: 12vw;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
  font-size: 16px;
  margin: 0 2%;
  position: relative;
}

@media (max-width: 768px) {
  .homePage-container .domits-homepage .domits-trendingContainer {
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
  }
  .homePage-container .domits-homepage .domits-trendingContainer > div {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .domits-trendingContainer > div {
    font-size: 14px;
  }
}

.homePage-container .domits-homepage .domits-trendingContainer > div:hover::after {
  list-style: none;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  position: absolute;
  z-index: 10;
  width: 20%;
  transform: translateY(90%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .homePage-container .domits-homepage .domits-trendingContainer > div:hover::after {
    width: 60%;
    transform: translateY(0%);
  }
}
@media (max-width: 400px) {
  .homePage-container .domits-homepage .domits-trendingContainer > div {
    width: 60%;
    transform: translateY(0%);
  }
}

.homePage-container .domits-homepage .domits-accommodationGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .homePage-container .domits-homepage .domits-accommodationGroup {
    padding-left: 0;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.homePage-container .domits-homepage .become-host-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 4.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.homePage-container .domits-homepage .become-host-content {
  max-width: 350px;
  flex: 1;
}

.homePage-container .domits-homepage .become-host-content .BH {
  margin-left: 0;
}

.homePage-container .domits-homepage .become-host-content h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .homePage-container .domits-homepage .become-host-content h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .become-host-content h1 {
    font-size: 1.25rem;
  }
}

.homePage-container .domits-homepage .become-host-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #555;
}
.homePage-container .domits-homepage .become-host-content ul li {
  margin-bottom: 0.5rem;
}

.homePage-container .domits-homepage .become-host-content button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #1d4ed8;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.homePage-container .domits-homepage .become-host-content button:hover {
  background-color: #1e40af;
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .become-host-content button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .become-host-content button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 1024px) {
  .homePage-container .domits-homepage .become-host-content {
    max-width: 100%;
  }
}

.homePage-container .domits-homepage .host-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 300px;
  height: auto;
}

@media (max-width: 1024px) {
  .homePage-container .domits-homepage .host-images {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
  }
}

.homePage-container .domits-homepage .host-image {
  width: 180px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .homePage-container .domits-homepage .host-image {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .host-image {
    width: 140px;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .host-image {
    width: 120px;
  }
}

.homePage-container .domits-homepage .host-image:first-child {
  width: 220px;
}
@media (max-width: 1024px) {
  .homePage-container .domits-homepage .host-image:first-child {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .host-image:first-child {
    width: 180px;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .host-image:first-child {
    width: 160px;
  }
}

.homePage-container .domits-homepage .host-image:last-child {
  width: 270px;
}
@media (max-width: 1024px) {
  .homePage-container .domits-homepage .host-image:last-child {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-homepage .host-image:last-child {
    width: 230px;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-homepage .host-image:last-child {
    width: 200px;
  }
}

.homePage-container .domits-homepage .countries-container,
.homePage-container .domits-homepage .asia-countries-container,
.homePage-container .domits-homepage .caribbean-countries-container,
.homePage-container .domits-homepage .ski-countries-container,
.homePage-container .domits-homepage .seasons-container,
.homePage-container .domits-homepage .interests-container,
.homePage-container .domits-homepage .groups-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
}

@media (max-width: 767px) {
  .homePage-container .domits-homepage .countries-container,
  .homePage-container .domits-homepage .asia-countries-container,
  .homePage-container .domits-homepage .caribbean-countries-container,
  .homePage-container .domits-homepage .ski-countries-container,
  .homePage-container .domits-homepage .seasons-container,
  .homePage-container .domits-homepage .interests-container,
  .homePage-container .domits-homepage .groups-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homePage-container .domits-homepage .country-card,
.homePage-container .domits-homepage .asia-country-card,
.homePage-container .domits-homepage .caribbean-country-card,
.homePage-container .domits-homepage .ski-country-card,
.homePage-container .domits-homepage .group-card {
  overflow: hidden;
  text-align: left;
}

.homePage-container .domits-homepage .country-card a img,
.homePage-container .domits-homepage .asia-country-card a img,
.homePage-container .domits-homepage .caribbean-country-card a img,
.homePage-container .domits-homepage .ski-country-card a img,
.homePage-container .domits-homepage .group-card a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  padding: 0;
}

@media (max-width: 400px) {
  .homePage-container .domits-homepage .country-card a img,
  .homePage-container .domits-homepage .asia-country-card a img {
    height: 150px;
  }
  .homePage-container .domits-homepage .group-card a img {
    height: 140px;
  }
}

.homePage-container .domits-homepage .country-card h3,
.homePage-container .domits-homepage .asia-country-card h3,
.homePage-container .domits-homepage .caribbean-country-card h3,
.homePage-container .domits-homepage .ski-country-card h3,
.homePage-container .domits-homepage .season-card h3,
.homePage-container .domits-homepage .interest-card h3,
.homePage-container .domits-homepage .group-card h3 {
  margin: 1px;
  color: #000;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.homePage-container .domits-homepage .country-card p,
.homePage-container .domits-homepage .asia-country-card p,
.homePage-container .domits-homepage .caribbean-country-card p,
.homePage-container .domits-homepage .ski-country-card p,
.homePage-container .domits-homepage .interest-card p,
.homePage-container .domits-homepage .group-card p {
  margin: 1px;
  color: #494949;
  font-size: 15px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.homePage-container .domits-homepage .countries-container > :nth-child(1) {
  grid-column: span 2;
}
.homePage-container .domits-homepage .countries-container > :nth-child(2),
.homePage-container .domits-homepage .countries-container > :nth-child(3) {
  grid-column: span 1;
}

.homePage-container .domits-homepage .asia-countries-container > :nth-child(1) {
  grid-column: span 2;
}
.homePage-container .domits-homepage .asia-countries-container > :nth-child(2),
.homePage-container .domits-homepage .asia-countries-container > :nth-child(3) {
  grid-column: span 1;
}

.homePage-container .domits-homepage .caribbean-countries-container > :nth-child(1),
.homePage-container .domits-homepage .caribbean-countries-container > :nth-child(2) {
  grid-column: span 1;
}
.homePage-container .domits-homepage .caribbean-countries-container > :nth-child(3) {
  grid-column: span 2;
}

.homePage-container .domits-homepage .ski-countries-container > :nth-child(1),
.homePage-container .domits-homepage .ski-countries-container > :nth-child(2),
.homePage-container .domits-homepage .ski-countries-container > :nth-child(5),
.homePage-container .domits-homepage .ski-countries-container > :nth-child(6) {
  grid-column: span 1;
}
.homePage-container .domits-homepage .ski-countries-container > :nth-child(3),
.homePage-container .domits-homepage .ski-countries-container > :nth-child(4) {
  grid-column: span 2;
}

.homePage-container .domits-homepage .interests-container > :nth-child(1),
.homePage-container .domits-homepage .interests-container > :nth-child(2),
.homePage-container .domits-homepage .interests-container > :nth-child(4),
.homePage-container .domits-homepage .interests-container > :nth-child(5),
.homePage-container .domits-homepage .interests-container > :nth-child(6),
.homePage-container .domits-homepage .interests-container > :nth-child(7) {
  grid-column: span 1;
}
.homePage-container .domits-homepage .interests-container > :nth-child(3),
.homePage-container .domits-homepage .interests-container > :nth-child(8),
.homePage-container .domits-homepage .interests-container > :nth-child(9) {
  grid-column: span 2;
}

.homePage-container .domits-homepage .groups-container > :nth-child(1),
.homePage-container .domits-homepage .groups-container > :nth-child(2),
.homePage-container .domits-homepage .groups-container > :nth-child(5),
.homePage-container .domits-homepage .groups-container > :nth-child(6) {
  grid-column: span 1;
}
.homePage-container .domits-homepage .groups-container > :nth-child(3),
.homePage-container .domits-homepage .groups-container > :nth-child(4) {
  grid-column: span 2;
}

.homePage-container .domits-homepage .season-card,
.homePage-container .domits-homepage .interest-card {
  overflow: hidden;
}

.homePage-container .domits-homepage .season-card a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  padding: 0;
}
@media (max-width: 767px) {
  .homePage-container .domits-homepage .season-card a img {
    height: 150px;
  }
}

.homePage-container .domits-homepage .interest-card a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  padding: 0;
}
@media (max-width: 400px) {
  .homePage-container .domits-homepage .interest-card {
    height: 120px;
  }
  .homePage-container .domits-homepage .interest-card a img {
    height: 120px;
  }
}

.homePage-container .domits-homepage .small-countries-container,
.homePage-container .domits-homepage .small-asia-countries-container,
.homePage-container .domits-homepage .small-caribbean-countries-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 20px;
}

@media (max-width: 767px) {
  .homePage-container .domits-homepage .small-countries-container,
  .homePage-container .domits-homepage .small-asia-countries-container,
  .homePage-container .domits-homepage .small-caribbean-countries-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.homePage-container .domits-homepage .small-country-card a img,
.homePage-container .domits-homepage .small-asia-country-card a img,
.homePage-container .domits-homepage .small-caribbean-country-card a img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
  padding: 0;
}

@media (max-width: 400px) {
  .homePage-container .domits-homepage .small-country-card a img,
  .homePage-container .domits-homepage .small-asia-country-card a img,
  .homePage-container .domits-homepage .small-caribbean-country-card a img {
    height: 75px;
  }
}

.homePage-container .domits-homepage .small-country-card h3,
.homePage-container .domits-homepage .small-asia-country-card h3,
.homePage-container .domits-homepage .small-caribbean-country-card h3 {
  font-size: 15px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

.homePage-container .domits-homepage .small-country-card p {
  display: none;
}

.homePage-container .review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

@media (max-width: 480px) {
  .homePage-container .review-container {
    padding: 10px;
  }
}

.homePage-container .review-container button {
  background-color: #d9d9d9;
  color: #000;
  border: 0.1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.homePage-container .review-container button:hover {
  background-color: #b7b5b5;
}
.homePage-container .review-container button:first-of-type {
  left: 15px;
}
.homePage-container .review-container button:last-of-type {
  right: 15px;
}

.homePage-container .review-container .review-list {
  display: flex;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
  flex-wrap: nowrap;
}

.homePage-container .review-container .review-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
  flex: 0 0 calc(33.33% - 20px);
  margin-right: 20px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .homePage-container .review-container .review-card {
    flex-basis: calc(50% - 20px);
    width: auto;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .homePage-container .review-container .review-card {
    flex-basis: 100%;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .homePage-container .review-container .review-card {
    margin-right: 0;
  }
}

.homePage-container .review-container .review-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .homePage-container .review-container .review-card img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .homePage-container .review-container .review-card img {
    width: 45px;
    height: 45px;
  }
}

.homePage-container .review-container .review-location {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
.homePage-container .review-container .review-stars {
  color: #f5c518;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.homePage-container .review-container .review-text {
  font-size: 0.8rem;
  color: #333;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
@media (max-width: 1024px) {
  .homePage-container .review-container .review-text {
    font-size: 0.9rem;
    -webkit-line-clamp: 4;
  }
}
@media (max-width: 768px) {
  .homePage-container .review-container .review-text {
    font-size: 0.8rem;
    -webkit-line-clamp: 2;
  }
}

.homePage-container .domits-communityContainer {
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 4vh;
  padding-bottom: 8vh;
}

.homePage-container .domits-communityContainer h2 {
  font-size: 3vw;
  font-weight: 450;
}
@media (max-width: 767px) {
  .homePage-container .domits-communityContainer h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-communityContainer h2 {
    font-size: 1.5rem;
  }
}

.homePage-container .domits-communityContainer p {
  font-size: 1.5vw;
  font-weight: 300;
  height: 15vh;
  text-align: left;
  padding-left: 27.2vw;
}
@media (max-width: 768px) {
  .homePage-container .domits-communityContainer p {
    font-size: 1rem;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-left: 6vw;
    height: 5vh;
  }
}

.homePage-container .domits-communityContainer .domits-communityButtons {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  margin-top: 1.5rem;
  gap: 8vw;
  justify-content: center;
}

.homePage-container .domits-communityContainer .domits-hostButton,
.homePage-container .domits-communityContainer .domits-SearchButton {
  border: none;
  border-radius: 0.6em;
  padding: 8px 4vw;
  cursor: pointer;
  font-size: 0.9vw;
  color: #fff;
}
.homePage-container .domits-communityContainer .domits-hostButton a,
.homePage-container .domits-communityContainer .domits-SearchButton a {
  text-decoration: none;
  color: #fff;
}

.homePage-container .domits-communityContainer .domits-hostButton {
  background-color: var(--secondary-color);
}
.homePage-container .domits-communityContainer .domits-SearchButton {
  background-color: var(--primary-color);
}

@media (max-width: 767px) {
  .homePage-container .domits-communityContainer .domits-hostButton,
  .homePage-container .domits-communityContainer .domits-SearchButton {
    font-size: 1rem;
    padding: 10px 20px;
    width: 80%;
    margin: 5px auto;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-communityContainer .domits-hostButton,
  .homePage-container .domits-communityContainer .domits-SearchButton {
    font-size: 0.8rem;
    padding: 8px 15px;
  }
}
@media (max-width: 768px) {
  .homePage-container .domits-communityContainer .domits-communityButtons {
    flex-direction: column;
    gap: 1rem;
    margin: 10px auto;
    padding: 2vh 3vw;
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .homePage-container .domits-communityContainer .domits-communityButtons {
    padding: 2vh 5vw;
  }
}
@media (max-width: 480px) {
  .homePage-container .domits-communityContainer .domits-communityButtons {
    padding: 4vh 5vw;
  }
}

@media (max-width: 768px) {
  .homePage-container .domits-homepage h1 {
    margin: 14px 16px;
  }

  .homePage-container .domits-homepage .domits-searchContainer {
    height: 55vh;
    background-position: center;
  }
  .homePage-container .domits-homepage .domits-searchTextCon {
    padding-top: 18vh;
    font-size: 2.2rem;
  }
  .homePage-container .domits-homepage .domits-searchTextCon .domits-searchText {
    font-size: 1.1rem;
    padding-bottom: 10px;
  }
  .homePage-container .domits-homepage .domits-searchbarCon {
    display: none;
  }

  .homePage-container .domits-homepage .domits-iconsContainer {
    flex-direction: column;
    height: auto;
    gap: 12px;
    padding: 10px 14px;
    margin: 14px 0 28px;
  }
  .homePage-container .domits-homepage .domits-iconsContainerText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    font-size: 1rem;
  }
  .homePage-container .domits-homepage .domits-iconsContainerText img {
    width: 26px;
  }
  .homePage-container .domits-homepage .domits-iconsContainerText p {
    font-size: 0.9rem;
  }

  .homePage-container .domits-homepage .domits-boatText h3 {
    font-size: 1.6rem;
    margin: 14px auto;
  }
  .homePage-container .domits-homepage .domits-trendingContainer {
    flex-direction: column;
    gap: 12px;
    padding: 10px 14px;
  }
  .homePage-container .domits-homepage .domits-trendingContainer > div,
  .homePage-container .domits-homepage .domits-trendingContainer .popup-trigger {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .homePage-container .domits-homepage .domits-accommodationGroup {
    flex-direction: column;
    margin: 0;
    padding: 0 14px;
  }

  .homePage-container .domits-homepage .become-host-section {
    padding: 18px;
    margin: 16px 14px;
    border-radius: 16px;
    gap: 16px;
    flex-direction: column;
    text-align: left;
  }
  .homePage-container .domits-homepage .become-host-content {
    max-width: 100%;
  }
  .homePage-container .domits-homepage .become-host-content h1 {
    font-size: 1.35rem;
    margin: 0 0 10px;
  }
  .homePage-container .domits-homepage .become-host-content button {
    width: 100%;
    padding: 10px 12px;
  }
  .homePage-container .domits-homepage .host-images {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .homePage-container .domits-homepage .host-images .host-image,
  .homePage-container .domits-homepage .host-images .host-image:first-child,
  .homePage-container .domits-homepage .host-images .host-image:last-child {
    width: calc(50% - 5px);
  }

  .homePage-container .domits-homepage .countries-container,
  .homePage-container .domits-homepage .asia-countries-container,
  .homePage-container .domits-homepage .caribbean-countries-container,
  .homePage-container .domits-homepage .ski-countries-container,
  .homePage-container .domits-homepage .seasons-container,
  .homePage-container .domits-homepage .interests-container,
  .homePage-container .domits-homepage .groups-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 14px;
    gap: 12px;
  }
  .homePage-container .domits-homepage .countries-container > :nth-child(n),
  .homePage-container .domits-homepage .asia-countries-container > :nth-child(n),
  .homePage-container .domits-homepage .caribbean-countries-container > :nth-child(n),
  .homePage-container .domits-homepage .ski-countries-container > :nth-child(n),
  .homePage-container .domits-homepage .interests-container > :nth-child(n),
  .homePage-container .domits-homepage .groups-container > :nth-child(n) {
    grid-column: auto !important;
  }
  .homePage-container .domits-homepage .countries-container img,
  .homePage-container .domits-homepage .asia-countries-container img,
  .homePage-container .domits-homepage .caribbean-countries-container img,
  .homePage-container .domits-homepage .ski-countries-container img,
  .homePage-container .domits-homepage .seasons-container img,
  .homePage-container .domits-homepage .interests-container img,
  .homePage-container .domits-homepage .groups-container img {
    height: 150px !important;
  }
  .homePage-container .domits-homepage .countries-container h3,
  .homePage-container .domits-homepage .asia-countries-container h3,
  .homePage-container .domits-homepage .caribbean-countries-container h3,
  .homePage-container .domits-homepage .ski-countries-container h3,
  .homePage-container .domits-homepage .seasons-container h3,
  .homePage-container .domits-homepage .interests-container h3,
  .homePage-container .domits-homepage .groups-container h3 {
    font-size: 18px !important;
  }
  .homePage-container .domits-homepage .countries-container p,
  .homePage-container .domits-homepage .asia-countries-container p,
  .homePage-container .domits-homepage .caribbean-countries-container p,
  .homePage-container .domits-homepage .ski-countries-container p,
  .homePage-container .domits-homepage .interests-container p,
  .homePage-container .domits-homepage .groups-container p {
    font-size: 13px !important;
  }

  .homePage-container .domits-homepage .small-countries-container,
  .homePage-container .domits-homepage .small-asia-countries-container,
  .homePage-container .domits-homepage .small-caribbean-countries-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 14px;
    gap: 12px;
  }
  .homePage-container .domits-homepage .small-countries-container img,
  .homePage-container .domits-homepage .small-asia-countries-container img,
  .homePage-container .domits-homepage .small-caribbean-countries-container img {
    height: 90px !important;
  }
  .homePage-container .domits-homepage .small-countries-container h3,
  .homePage-container .domits-homepage .small-asia-countries-container h3,
  .homePage-container .domits-homepage .small-caribbean-countries-container h3 {
    font-size: 13px !important;
  }

  .homePage-container .review-container {
    margin: 22px 14px;
    padding: 12px;
  }
  .homePage-container .review-container button {
    width: 36px;
    height: 36px;
    font-size: 1.2rem;
  }
  .homePage-container .review-container .review-list {
    gap: 12px;
  }
  .homePage-container .review-container .review-card {
    width: 100% !important;
    height: auto !important;
    flex-basis: 100% !important;
    margin-right: 0 !important;
  }
  .homePage-container .review-container .review-text {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .homePage-container .domits-communityContainer {
    padding: 20px 14px 40px;
  }
  .homePage-container .domits-communityContainer h2 {
    font-size: 1.6rem;
  }
  .homePage-container .domits-communityContainer p {
    padding-left: 0;
    height: auto;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  .homePage-container .domits-communityContainer .domits-communityButtons {
    flex-direction: column;
    gap: 12px;
    font-size: 1rem;
  }
  .homePage-container .domits-communityContainer .domits-hostButton,
  .homePage-container .domits-communityContainer .domits-SearchButton {
    width: 100%;
    font-size: 1rem;
    padding: 12px 14px;
  }
}

@media (max-width: 420px) {
  .homePage-container .domits-homepage .domits-searchContainer {
    height: 50vh;
  }
  .homePage-container .domits-homepage .domits-iconsContainerText {
    grid-template-columns: 1fr;
  }
  .homePage-container .domits-homepage .small-countries-container,
  .homePage-container .domits-homepage .small-asia-countries-container,
  .homePage-container .domits-homepage .small-caribbean-countries-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
