.phoneGroup {
  .react-tel-input {
    width: 100%;

    .form-control {
      width: 100% !important;
      border: none !important;
      background: transparent !important;
      padding-left: 50px !important;
    }

    .flag-dropdown {
      background: transparent;
      border: none;
    }
  }
}

.hostCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.strength-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#strength-bar {
  height: 6px;
  width: 0;
  border-radius: 999px;
  transition: 0.3s ease;
  margin-bottom: 8px;
}

.strength-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.requirements {
  display: flex;
  flex-direction: column;
  gap: 6px;
}