.phoneGroup {
  .react-tel-input {
    width: 100%;

    .form-control {
      width: 100% !important;
      border: none !important;
      background: transparent !important;
      padding-left: 50px !important;
    }

    .flag-dropdown {
      background: transparent;
      border: none;
    }
  }
}

.hostCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}