.assortment {
    border: none;
}
.dropdown-row {
    display: flex;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    width: 80%;
    align-items: center; /* Optional: Align items vertically in the center */
    justify-content: space-evenly; /* Adjust as needed for your layout */
    margin-bottom: 20px;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.dropdown {
    display: inline-flex;
    margin-top: 20px;
    
    padding: 8px 10px 8px 15px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
}


.dropdown select {
    border: none;

/*    removes the arrow*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/

    color: #000;  /* Text color */
    font-family: 'Kanit', sans-serif; /* Font family */
    font-size: 12px; /* Font size */
    font-style: normal;
    font-weight: 275;
    line-height: 150%;
}



.label {
    display: inline-flex;
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
    padding: 8px 10px 8px 15px;
    justify-content: flex-end;
    align-items: center;
    gap: 83px;

    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
}

.Sortbutton {
    width: 90px;
}