* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0D9813;
    --secondary-color: #003366;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: Kanit, sans-serif;
}