.faq-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 50px;
} 

.faqHeader3 {
  font-size: clamp(20px, 4vw, 32px);
}

.faqHeader4 {
  font-size: clamp(10px, 4vw, 25px);
  font-weight: bolder;
}

.category{
  color: white;
  border-radius: 8px;
  background-color: #0D9813;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  margin: 30px 20px;
  cursor: pointer;
}

.faq-box {
  width: 50%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  cursor: pointer;
  transition: max-height 2s ease; 
  overflow: hidden;
}

.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  overflow: hidden;
  transition: max-height 1s ease-in-out; 
}

@media (max-width: 900px) {
  .faq-box {
    width: 100%;
  }
}
