.faq-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 79%;
} 

.faqHeader4 {
  font-size: clamp(10px, 4vw, 20px);
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 54%;
}

.faq-button-container {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;
}

.faqButton{
  display: flex;
  flex-direction: row ;
  color: white;
  border-radius: 8px;
  background-color: #0D9813;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  margin: 10px 0px;
  cursor: pointer;
  max-width: 200px; 
  flex: 1; 
  text-align: center; 
  font-weight: 500;
  font-size: 15px;
}

.faq-box {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  transition: max-height 0.4s ease; 
  overflow: hidden;
  cursor: pointer;
}

.faq-box-question{
  display: flex;
}

.question-isOpen{
  margin-left: auto;
}

.faqButton:hover {
  background-color: #367a4a;
}

.category{
  color: white;
  border-radius: 8px;
  background-color: #0D9813;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  margin: 30px 20px;
  cursor: pointer;
}

.question {
  font-weight: bold;
  margin-bottom: 8px;
  margin: 0;
}

.answer {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out; 
}

@media (max-width: 960px) {
  .faq-container {
    width: 83%;
    margin-left: 11.1%;
  }
  .faq-button-container{
    width: 98%;
  }
}
