.container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
}

.calculatorBlock {
    /* border: 1px solid #003366; */
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 0 5px #003366;
    padding: 30px 25px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageButtons {
    box-shadow: 0 0 5px #003366;
    border-radius: 5px;
    padding: 10px;
    width: 7%;
    height: 12%;
    background-color: white;
    border: none;
    margin-right: 2%;
}

.pageButtons:hover {
    background-color: #4c7cac;
    color: #fff;
    cursor: pointer;
}

.buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nextButtons {
    background-color: #003366;
    color: #fff;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
    margin: 10px;
    border: none;
}

.nextButtons:hover {
    background-color: #4c7cac;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.selected {
    background-color: #003366;
    color: #fff;
    box-shadow: none;
}

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    height: 135px;
    width: 135px;
    max-height: 135px;
    max-width: 135px;
    margin-bottom: 30px;
}

.card:hover, .selectedCard {
    /* border: 3px solid #003366; */
    border-radius: 10px;
    box-shadow: 0 0 5px #003366;
    cursor: pointer;
    margin-bottom: 27px;
}

.selectedCard {
  border: 3px solid #003366;
  box-shadow: none !important;
}

.cardImage {
    margin-top: 5px;
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
    padding: 5px;
}

.priceDisplay {
    max-width: 35%;
    padding: 10px;
    border-radius: 10px;

    border: 1px solid #003366;
    box-shadow: 1px 1px 5px 1px #003366;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.proHosting {
    margin-top: 50px;
}
.infoCard {
    max-width: 200px;
    max-height: 230px;
    margin: 15px;
}


.infoHolder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
}

.infoHeader {
    color: green;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.MainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Why-How {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cards {
    display: flex;
    justify-content:space-between;
}