.container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
    font-weight: lighter;
}

.calculatorBlock {
    border: 2px solid #1245A8;
    border-radius: 20px;
    margin-top: 30px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageButtons {
    border: 2px solid #1245A8;
    border-radius: 10px;
    box-shadow: none;

    padding: 10px;
    width: 7%;
    height: 12%;
    margin-top: 10px;
    margin-left: 10px;
}

.pageButtons:hover {
    background-color: #A187B2;
    border: 2px solid #A187B2;
    color: #fff;
    cursor: pointer;
}

.buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nextButtons {
    background-color: #1245A8;
    color: #fff;

    margin: 10px;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px;
}

.nextButtons:hover {
    background-color: #A187B2;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.selected {
    background-color: #1245A8;
    color: #fff;
}

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    height: 135px;
    width: 135px;
    max-height: 135px;
    max-width: 135px;
    margin-bottom: 30px;
}

.card:hover, .selectedCard {
    border: 3px solid #1245A8;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    margin: -3px;
    margin-bottom: 27px;
}

.cardImage {
    margin-top: 14px;
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    object-fit: cover;
}

.priceDisplay {
    max-width: 35%;
    padding: 10px;
    border-radius: 10px;

    border: 1px solid #1245A8;
    box-shadow: 1px 1px 5px 1px #1245A8;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.proHosting {
    margin-top: 50px;
}

.infoCard {
    max-width: 200px;
    max-height: 230px;
    margin: 15px;
}


.infoHolder {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    font-size: 1.2rem;
    margin: 8px 0;
    color: #333;
}

.infoHeader {
    color: green;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.faq-box {
    width: 80%;
    border: 2px solid #1245A8;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    max-height: 60px;
    overflow: hidden;
    transition: max-height 2s ease;
}

.faq-box:hover {
    max-height: 200px;
}

.question {
    font-weight: bold;
    margin-bottom: 8px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
}

.faq-box:hover .answer {
    max-height: 200px;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: auto;

}

.form-section,
.map-section {
    width: 45%;
}

.front-section {
    width: 50%;
}

#map-placeholder {
    width: 100%;
    height: 300px;
    background-color: #e0e0e0;
    text-align: center;
    line-height: 300px;
    color: #333;
    margin-top: 20px;
}

.room-type label,
.room-info label,
.room-features label,
.quantity label,
.locationInput label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 15px;
}

.room-type label,
.room-features label {
    justify-content: flex-start;
    cursor: pointer;
}


.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textInput,
.radioInput {
    width: auto;
    padding: 11px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px solid black;
}

.radioInput {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.locationText {
    min-width: 173px;
    width: 60%;
}