.guestdashboard {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dashboards {
    display: grid;
    grid-template-columns: 200px auto;
}

.wijzers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-width: 200px;

    border: 0.5px solid black;
    border-radius: 15px;
    padding: 5px;

}

.reviewText {
    border: 0.5px solid black;
    border-radius: 15px;
    padding: 5px;
}

.wijzers:hover {
    box-shadow: 4px 4px #0D9813;
    transition: .3s;
}


.disabled:hover {
    cursor: not-allowed;
    box-shadow: none;
    border: 0.5px solid black;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.reviewColumn {
    width: 48%;
    height: auto;
    margin: 10px;
    min-width: 155px;

    display: flex;
    flex-direction: column;

}

.reviewBox {
    margin-right: 5px;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;

}

.reviewText {
    width: 80%;
    margin: auto;
}

.review-tab{
    display: flex;
    flex-direction: column;
    border: 2px;
    border-radius: 15px;
    margin: 5%;
    animation: fade-up 1s;
    padding: 12px;
}

.review-tab:hover {
    box-shadow: 4px 4px #0D9813;
    transition: .3s;
}

.review-date {
    color: #0D9813;
}

.review-delete {
    align-self: end;
    width: 40px;
    height: 40px;
    box-shadow: none;
    padding: 0;
}

.review-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.cross {
    width: 30px;
    height: 30px;
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale (0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@media screen and (max-width: 830px) {
    .dashboards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dashboardSections {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }

    .wijzers {

        width: 90%;
    }
}


.button i {
    margin-right: 10px;
    color: #888;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.leftContent {
    /* If .leftContent's height isn't defined by its content or an explicit height, consider setting one here. */
    height: 360px;
    /* Example fixed height; adjust as needed. */
}

.bookingBox {
    /* Adjust the percentage to increase the height relative to .leftContent */
    height: 60%;
    /* Example adjustment */
    margin-bottom: 20px;
    /* Maintain spacing between boxes */
    overflow: auto;
    /* In case the content exceeds the box */
}

.messageBoxes {
    height: 40%;
    overflow: auto;
}

.bookingBox,
.messageBox {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 60%;
}

.bookingBox img {
    width: 20%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
}

.messageBox button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.personalInfoContent {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    width: 100%;
    /* Ensure it expands to the full available width of its parent */
}

.infoBox {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: auto;
    /* Adjust this to control the width more explicitly, e.g., 100% for full width */
}

.infoBox i {
    margin-right: 10px;
    color: #0A760F;
}

.infoBox span {
    margin-right: auto;
}

.button.last-button {
    margin-top: 60px;
}

.icon {
    width: 24px;
    /* Or the size you want */
    height: 24px;
    /* Or the size you want */
    object-fit: contain;
    margin-right: 10px;
    display: inline-block;
    /* To apply padding and borders */
    border: 1px solid #ccc;
    /* Example border color */
    padding: 5px;
    /* Adjust the padding as needed */
    border-radius: 12px;
    /* Optional, for rounded corners */
    background-color: #f9f9f9;
    /* Example background color */
}