.guestdashboard {
    display: flex;
    margin: auto;
    max-width: 1200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}

.sidebar {
    padding: 20px;
    display: inline;
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.button i {
    margin-right: 10px;
    color: #888;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.leftContent {
    /* If .leftContent's height isn't defined by its content or an explicit height, consider setting one here. */
    height: 360px; /* Example fixed height; adjust as needed. */
}

.bookingBox {
    /* Adjust the percentage to increase the height relative to .leftContent */
    height: 60%; /* Example adjustment */
    margin-bottom: 20px; /* Maintain spacing between boxes */
    overflow: auto; /* In case the content exceeds the box */
}

.messageBox {
    /* Adjust the percentage to decrease the height relative to .leftContent */
    height: 40%; /* Example adjustment */
    overflow: auto; /* In case the content exceeds the box */
}
.bookingBox, .messageBox {
     background-color: #fff;
     border-radius: 15px;
     padding: 20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     margin-bottom: 20px;
    width: 60%;
 }
.bookingBox img {
    width: 20%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
}
.messageBox button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.personalInfoContent {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
}

.infoBox {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: auto; /* Adjust this to control the width more explicitly, e.g., 100% for full width */
}

.infoBox i {
    margin-right: 10px;
    color: #0A760F;
}

.infoBox span {
    margin-right: auto;
}

.button.last-button {
    margin-top: 60px;
}
.icon {
    width: 24px; /* Or the size you want */
    height: 24px; /* Or the size you want */
    object-fit: contain;
    margin-right: 10px;
    display: inline-block; /* To apply padding and borders */
    border: 1px solid #ccc; /* Example border color */
    padding: 5px; /* Adjust the padding as needed */
    border-radius: 12px; /* Optional, for rounded corners */
    background-color: #f9f9f9; /* Example background color */
}
