.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dashboards {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 5%;
}

.dashboard {
  display: grid;
  grid-template-columns: 250px auto;
}

.dashboardSections {
  display: flex;
  flex-direction: column;
}

.wijzers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  min-width: 10vw;
  width: 12.5rem;
  border: 0.5px solid black;
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.wijzers img {
  object-fit: cover;
}

.wijzers:hover {
  box-shadow: 4px 4px #0D9813;
  transition: .3s;
}

.wijzers.active {
  background-color: #0D9813;
  color: white;
}

.wijzers.active p {
  color: white;
}

.disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
  border: 0.5px solid black;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the content takes up full width */
}

.leftContent {
  height: 360px;
}

.bookingBox {
  height: 60%;
  margin-bottom: 20px;
  overflow: auto;
}

.messageBoxes {
  height: 40%;
  overflow: auto;
}

.bookingBox,
.messageBox {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 60%;
}

.bookingBox img {
  width: 20%;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
}

.messageBox button {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.personalInfoContent {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  width: 100%;
}

.infoBox {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: auto;
}

.infoBox i {
  margin-right: 10px;
  color: #0A760F;
}

.infoBox span {
  margin-right: auto;
}

.button.last-button {
  margin-top: 60px;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 12px;
  background-color: #f9f9f9;
}

@media (max-width: 480px) {
  .reviewColumn {
      width: 100%;
      h2.review-header {
          font-size: 1.5em;
      }
  }
}

/* paymentsguestdashboard.css */
.bookingContent {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterContainer {
  text-align: center;
}
.filterContainer label {
  margin-right: 10px;
}

.filterContainer select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.bookings-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 100%;
}

.bookings-table th, .bookings-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.bookings-table th {
  background-color: #f2f2f2;
  color: black;
}

.bookings-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bookings-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.bookings-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.payments-content {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.fulfilled-payments {
  width: 100% !important;
  text-align: center !important;
}

.payment-item {
  background-color: #fff !important;
  border-radius: 15px !important;
  padding: 20px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 20px !important;
  width: 60% !important;
  text-align: left !important;
}
