.or-occupancy-rate-card {
    width: 300px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.or-date-picker {
    margin-bottom: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-color: #aaa4a4;
}

.or-date-picker label {
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
}

.or-occupancy-rate-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.or-details-left {
    flex: 1;
    padding-right: 10px;
}

.react-datepicker-wrapper {
    display: inline-block;
    margin-left: 10px;
}

.or-gauge-wrapper {
    width: 150px;
    max-width: 150px;
    height: 150px;
    margin-left: 10px;
}

.or-icon {
    margin-right: 5px;
}

.or-gauge-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}