.occupancy-rate-card {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 280px; /* Adjusted the width to make it smaller */
    height: auto;
}

.occupancy-rate-card h4 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #3a3a3a;
}

.date-picker {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: center;
}

.occupancy-rate-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.occupancy-rate-details p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: #4a4a4a;
    margin: 0;
}

.occupancy-rate-details strong {
    color: #000;
}

.icon {
    color: #8c8c8c;
    font-size: 18px;
}

.down {
    color: red;
}

.gauge-wrapper {
    position: relative;
    margin-top: 10px;
    padding: 20px;
}

.gauge-chart {
    height: 90px; /* Adjusted to make the gauge smaller */
    width: 90px; /* Keep it proportional */
}

.gauge-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #8c8c8c;
    margin-top: -10px;
}