.contact-section {
  background: #046c2c;
  padding: 120px 0;
  color: #fff;
}

.contact-section__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: flex-start;
}

.contact-section__left {
  padding-top: 10px;
}

.contact-section__left h2 {
  font-size: 44px;
  margin-bottom: 20px;
}

.contact-section__left p {
  color: rgba(255,255,255,0.85);
  margin-bottom: 40px;
    line-height: 1.5;
  max-width: 420px;
}

.contact-section__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  line-height: 1.2;
  height: 50px;
}

.contact-item .icon {
  width: 50px;
  height: 100%;
  background: #e5f9ec;
  color: #15803d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
  flex-shrink: 0;
}

.contact-item span {
  font-size: 13px;
  color: rgba(255,255,255,0.7);
}

.contact-item strong {
  display: block;
  font-size: 15px;
}

.contact-section__right .questionsContainer {
  background: #f3f4f6;
  border-radius: 24px;
  padding: 40px;
  color: #111;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionsContainer h1,
.questionsContainer p {
  width: 100%;
  max-width: 480px;
  margin: 8px auto;
  text-align: left;
}

.contactform {
  width: 100%;
  max-width: 480px;
}

.contactform .inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 24px;
  width: 100%;
}

.contactform label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #333;
  width: 100%;
}

.contactform input,
.contactform textarea {
  margin-top: 6px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #e5e7eb;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}

.contactform input[type="number"] {
  appearance: textfield;
}

.fullWidth {
  margin-top: 24px;
  width: 100%;
}

.fullWidth textarea {
  width: 100%;
  min-height: 160px;
  height: auto;
  resize: none;
  padding: 14px;
  box-sizing: border-box;
}

#sendbutton {
  margin-top: 24px;
  width: 100%;
  background: #16a34a;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

#sendbutton:hover {
  background: #15803d;
}