.accommodation-types {
  &.single-column {
    display: flex;
    flex-direction: column;
  }

  &.vertical-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &.bordered-list {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    margin-left: 40px;
    margin-right: auto;
    background-color: #f9f9f9;
    width: 450px;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 5px;

    &:hover {
      background-color: #f5f5f5;
      border: 1px solid #e7e7e7;
    }

    &.selected {
      background-color: #f0f7ff;
      border: 1px solid #006ce4 !important;
    }
  }

  .accommodation-icon {
    width: 65px;
    height: 65px;
    margin-right: 22px;
  }

  .option-text {
    font-size: 22px;
    font-weight: 500;
    color: #262626;
    letter-spacing: -0.2px;
  }
}
