/* containers */
.main-container {
  display: flex;
  margin: auto;
  width: 80%;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 510px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 50%;
}
/* containers */

/* advert card */
.dashboard-cardd {
  height: 50.89vh;
  width: 20.4vw;
  position: relative;
}

.dashboard-cardd .accommodation-text {
  padding: 10px 30px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-cardd .accommodation-title {
  color: white;
  margin: 0;
  font-size: 0.9em;
}

.dashboard-cardd .accommodation-location {
  color: white;
  font-size: 0.6em;
  margin-top: 1%;
}

.dashboard-cardd .accommodation-imgg {
  max-height: 70%;
  max-width: none;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 0;
  align-self: center;
  width: 100%;
  height: 70%;
}

.dashboard-cardd .accommodation-details-title {
  color: black;
  margin: 0;
  font-size: 1em;
}
/* advert card */

/* options */
.options-container {
  display: flex;
  flex-direction: column;
}

.options-container p,
h1 {
  margin: 2px 0px;
}

hr {
  border: none;
  width: 90%; /* Adjust the width as needed */
  margin: 20px auto; /* Centers the hr */
  border-top: 1px solid #e1e1e1;
}
/* options */
