.hiwContainerTraveller, .hiwContainerHost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 50px 0;
}

.hiwCard {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 50px;
}

.hiwCardImg, .hiwCardImgHost {
  background-color: var(--domits-guest-green);
  width: 100%;
  height: 150px;
}

.hiwCardImgHost {
  background-color: var(--domits-host-blue);
}

.hiwCardHeading {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}

.hiwCardP {
  font-size: 1em;
  margin-bottom: 20px;
}

.hiwBtn, .hiwBtnHost {
  color: white;
  background-color: var(--domits-guest-green);
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: auto 0 10px 0;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.hiwBtnHost {
  background-color: var(--domits-host-blue);
}

@media (max-width: 1000px) {
  .hiwContainer {
    flex-direction: column;
  }
  .hiwCard {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  .hiwBtn {
    margin-bottom: 50px;
  }
}