// Variables
$primary-color: #4caf50;
$secondary-color: #333;
$highlight-color: #4a647c;
$background-color: #f9f9f9;
$font-size-data: 14px;
$font-size-big: 16px;
$base-spacing: 1em;
$button-padding: 0.2em 2.2em;
$border-color: #ddd;
$border-outer: #ffffff;
$button-size-large: 17px;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

//////////
/// Todo: cleanup unused styling
//////////
///

//////////
/// Style items in center (Center loading gif)
//////////
.CenterMe {
  display: flex;
  margin: auto;
  text-align: center;
}
.reservationContainer {
  display: flex;
  flex-direction: row;

  .reservationContent {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    min-height: 55rem;
  }

  //////////
  // Top menu styling
  //////////
  .reservationButtons button {
    font-size: $button-size-large;
    background-color: #ffffff;
    border: 1px solid #0000004a;
    border-radius: 8px;
    padding: $button-padding;
    margin: 10px 0.5px;
    box-shadow:
      6px 6px 12px $border-color,
      -6px -6px 12px $border-outer;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.15);
    transition:
      background 0.2s ease,
      color 0.2s ease;

    &:hover {
      background-color: $highlight-color;
      color: #ffffff;
    }
  }

  /*  .reservationData {
      overflow-x: auto;
    } */

  .reservationTable {
    display: block;

    thead,
    tr {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: 3px solid purple;
  
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    tr,
    td{
      margin: 200px;
    }

    th,
    td{
      padding: 1.5em 1em 1.5em;
    }

    tbody,
    tr {
      margin: 10px 0.5px;
      border: 2px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .noData {
      font-size: $font-size-big;

      .noDataText {
        border: none;
        border-collapse: none;
        background-color: transparent;

      }
    }
    .reservationIcons{
      cursor: pointer;
      display: inline-flex;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}