$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

.why-domits {
  width: 100%;

  .why-domits__title-text-container {
    padding: 100px 50px;
    padding-bottom: 1rem;

    @media (max-width: 1024px) {
      padding: 5rem;
    }

    @media (max-width: 768px) {
      padding: 4rem;
    }

    @media (max-width: 480px) {
      padding: 2rem;
    }

    .why-domits__h3 {
      font-size: 2.5rem;
      margin: 0;
      font-weight: 400;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 2.25rem;
      }

      @media (max-width: 768px) {
        font-size: 1.75rem;
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 1.5rem;
      }
    }

    .why-domits__h4 {
      font-size: 1.75rem;
      font-weight: 400;
      margin-top: 1.6rem;
      margin-bottom: 3rem;
      text-align: center;
      

      @media (max-width: 1024px) {
        font-size: 1.5rem;
      }

      @media (max-width: 480px) {
        font-size: 1.25rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
        text-align: center;
      }
    }

    .why-domits__p {
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 1.6rem;
      margin-bottom: 3rem;
      color: black;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 1.125rem;
      }

      @media (max-width: 768px) {
        font-size: 0.9rem;
      }

      @media (max-width: 480px) {
        font-size: 0.875rem;
      }

      a {
        color: black;
      }
    }
  }

  .why-domits__cards-container {
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.6rem;
    flex-wrap: wrap;

    @media (max-width: 955px) {
      min-height: 20rem;
      gap: 5.5rem;
      flex-wrap: wrap;
      margin-bottom: 5rem;
    }

    .why-domits__card {
      width: 39.2%;
      background: green;
      min-height: 9.3rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1.8rem;
      padding-right: 1.8rem;
      gap: 2rem;

      @media (max-width: 955px) {
        width: 70%;
      }

      @media (max-width: 768px) {
        width: 100%;
        min-height: 7rem;
      }

      @media (max-width: 480px) {
        min-height: 5rem;
      }

      p {
        font-size: 1.25rem;
        font-weight: 400;
        color: white;

        @media (max-width: 1024px) {
          font-size: 1.125rem;
        }

        @media (max-width: 768px) {
          font-size: 1rem;
        }

        @media (max-width: 480px) {
        }

        font-size: 0.875rem;
      }

      .why-domits__image {
      }
    }
  }

  .why-domits-bar {
    background-color: green;
    color: white;
    align-items: center;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10%;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .why-domits__title-text-container-guest {
    .why-domits__flex-container.guest {
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .why-domits__section.guest {
        flex: 1 1 100%;

        .why-domits__h3 {
          font-size: 2.5rem;
          font-weight: 400;
          margin: 0;
        }

        &:first-child {
          flex: 1 1 100%;
          text-align: left;
          margin-bottom: 20px;
          padding: 15px;
        }

        &:not(:first-child) {
          flex: 1 1 calc(50% - 20px);
          box-sizing: border-box;
          padding: 15px;
          max-width: calc(50% - 20px);
        }
      }
    }
  }

  .why-domits__title-text-container-host {
    .why-domits__flex-container.host {
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      background-color: #f1efef;

      .why-domits__section.host {
        flex: 1 1 100%;

        .why-domits__h3 {
          font-size: 2.5rem;
          font-weight: 400;
          margin: 0;
        }

        &:first-child {
          flex: 1 1 100%;
          text-align: left;
          margin-bottom: 20px;
          padding: 15px;
        }

        &:not(:first-child) {
          flex: 1 1 calc(50% - 20px);
          box-sizing: border-box;
          padding: 15px;
          max-width: calc(50% - 20px);
        }
      }
    }
  }

  .why-domits__title-text-container-dev {
    .why-domits__flex-container {
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .why-domits__section.dev {
        flex: 1 1 100%;

        .why-domits__h3 {
          font-size: 2.5rem;
          font-weight: 400;
          margin: 0;
        }

        &:first-child {
          flex: 1 1 100%;
          text-align: left;
          margin-bottom: 20px;
          padding: 15px;
        }

        &:not(:first-child) {
          flex: 1 1 calc(50% - 20px);
          box-sizing: border-box;
          padding: 15px;
          max-width: calc(50% - 20px);
        }
      }
    }
  }

  .why-domits__title-text-container-growth {
    .why-domits__flex-container.growth {
      padding-left: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      background-color: #f1efef;

      .why-domits__section.growth {
        flex: 1 1 100%;

        .why-domits__h3 {
          font-size: 2.5rem;
          font-weight: 400;
          margin: 0;
        }

        &:first-child {
          flex: 1 1 100%;
          text-align: left;
          margin-bottom: 20px;
          padding: 15px;
        }

        &:not(:first-child) {
          flex: 1 1 calc(50% - 20px);
          box-sizing: border-box;
          padding: 15px;
          max-width: calc(50% - 20px);
        }
      }
    }

    .navigation-arrows {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: #ffffff;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      font-weight: bold;
      font-size: 1.25rem;

      &:hover {
        color: #0055aa;
        text-decoration: underline;
      }

      a {
        text-decoration: none;
        color: $secondary-color;
      }
    }
  }
}
